Repository NouctheCo/Casskai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @casskai-team, @casskai-frontend-team, @casskai-devops-team, @casskai-backend-team, @casskai-security-team

.github/CODEOWNERS:

# Global owners
* @casskai-team

# Frontend code
/src/** @casskai-frontend-team
/tests/** @casskai-frontend-team

# Configuration files
/*.json @casskai-devops-team
/*.js @casskai-devops-team
/*.ts @casskai-devops-team
/.*rc* @casskai-devops-team

# CI/CD and DevOps
/.github/** @casskai-devops-team
/Dockerfile* @casskai-devops-team
/docker-compose* @casskai-devops-team
/nginx.conf @casskai-devops-team

# Database and migrations
/supabase/** @casskai-backend-team
/src/services/** @casskai-backend-team

# Security sensitive files
/.env* @casskai-security-team
/scripts/check-env-secrets.js @casskai-security-team

# Documentation
/*.md @casskai-team
/docs/** @casskai-team

fix: enable skipLibCheck to resolve TypeScript library conflicts
  tsconfig.json
Owners: @casskai-devops-team

fix: enable skipLibCheck to resolve TypeScript library conflicts
  tsconfig.json
Owners: @casskai-devops-team

fix: resolve remaining GitHub Actions CI/CD compilation issues
  src/components/ErrorBoundary.tsx
  src/contexts/LocaleContext.tsx
  src/vite-env.d.ts
Owners: @casskai-frontend-team

fix: resolve remaining GitHub Actions CI/CD compilation issues
  src/components/ErrorBoundary.tsx
  src/contexts/LocaleContext.tsx
  src/vite-env.d.ts
Owners: @casskai-frontend-team

fix: resolve remaining GitHub Actions CI/CD compilation issues
  src/components/ErrorBoundary.tsx
  src/contexts/LocaleContext.tsx
  src/vite-env.d.ts
Owners: @casskai-frontend-team

fix: final LanguageToggle component optimization for production deployment
  src/components/LanguageToggle.tsx
Owners: @casskai-frontend-team

fix: final LanguageToggle component optimization for production deployment
  src/components/LanguageToggle.tsx
Owners: @casskai-frontend-team

fix: final LanguageToggle component optimization for production deployment
  src/components/LanguageToggle.tsx
Owners: @casskai-frontend-team

fix: resolve TypeScript compilation errors for GitHub Actions deployment
  src/components/SEOHead.tsx
  src/components/ThemeToggle.tsx
  src/components/ui/dropdown-menu.tsx
  src/contexts/ThemeContext.tsx
  src/hooks/useAccountingImport.ts
Owners: @casskai-frontend-team

fix: resolve TypeScript compilation errors for GitHub Actions deployment
  src/components/SEOHead.tsx
  src/components/ThemeToggle.tsx
  src/components/ui/dropdown-menu.tsx
  src/contexts/ThemeContext.tsx
  src/hooks/useAccountingImport.ts
Owners: @casskai-frontend-team

fix: resolve TypeScript compilation errors for GitHub Actions deployment
  src/components/SEOHead.tsx
  src/components/ThemeToggle.tsx
  src/components/ui/dropdown-menu.tsx
  src/contexts/ThemeContext.tsx
  src/hooks/useAccountingImport.ts
Owners: @casskai-frontend-team

fix: resolve all TypeScript errors in AccountingImportExport component
  src/components/accounting/AccountingImportExport.tsx
Owners: @casskai-frontend-team

fix: resolve all TypeScript errors in AccountingImportExport component
  src/components/accounting/AccountingImportExport.tsx
Owners: @casskai-frontend-team

fix: resolve all TypeScript errors in AccountingImportExport component
  src/components/accounting/AccountingImportExport.tsx
Owners: @casskai-frontend-team

Fix: Correct compactLayout function declaration order to prevent initialization error
  src/components/dashboard/ModularDashboard.tsx
  src/utils/defaultAccountingData.js
Owners: @casskai-frontend-team

Fix: Correct compactLayout function declaration order to prevent initialization error
  src/components/dashboard/ModularDashboard.tsx
  src/utils/defaultAccountingData.js
Owners: @casskai-frontend-team

Fix: Correct compactLayout function declaration order to prevent initialization error
  src/components/dashboard/ModularDashboard.tsx
  src/utils/defaultAccountingData.js
Owners: @casskai-frontend-team

fix: modules onboarding display and trial notice positioning
  src/components/layout/MainLayout.tsx
  src/components/layout/ModularSidebarEnhanced.tsx
  src/components/modules/ModuleManager.tsx
  src/contexts/AuthContext.tsx
Owners: @casskai-frontend-team

fix: modules onboarding display and trial notice positioning
  src/components/layout/MainLayout.tsx
  src/components/layout/ModularSidebarEnhanced.tsx
  src/components/modules/ModuleManager.tsx
  src/contexts/AuthContext.tsx
Owners: @casskai-frontend-team

fix: modules onboarding display and trial notice positioning
  src/components/layout/MainLayout.tsx
  src/components/layout/ModularSidebarEnhanced.tsx
  src/components/modules/ModuleManager.tsx
  src/contexts/AuthContext.tsx
Owners: @casskai-frontend-team

Add Supabase DB migration workflow
  .github/workflows/supabase-db-migrate.yml
Owners: @casskai-devops-team

Add Supabase DB migration workflow
  .github/workflows/supabase-db-migrate.yml
Owners: @casskai-devops-team

Add Supabase DB migration workflow
  .github/workflows/supabase-db-migrate.yml
Owners: @casskai-devops-team

fix: Retirer les secrets du commit et sécuriser .gitignore
  .gitignore
Owners: @casskai-team

refactor: Day 2 - Consolidate duplicate components and remove obsolete files
  src/components/accounting/JournalEntriesList.tsx
  src/components/accounting/JournalEntriesListEntryRow.tsx
  src/components/accounting/JournalEntriesListFilterSection.tsx
  src/components/accounting/JournalEntriesTab.tsx
  src/components/accounting/JournalsManagement.tsx
  src/components/accounting/JournalsTab.tsx
  src/components/invoicing/OptimizedInvoicesTab.tsx
  src/components/invoicing/OptimizedInvoicesTabNew.tsx
  src/components/modules/ModuleManagerEnhanced.tsx
  src/components/settings/EnhancedSettings.tsx
  src/components/settings/index.ts
  src/pages/InvoicingPage.tsx
Owners: @casskai-frontend-team

docs: Day 3 - Consolidate and organize documentation
  docs/README.md
  docs/deployment/DEPLOY.md
  docs/deployment/DEPLOYMENT.md
  docs/deployment/DEPLOYMENT_STRIPE.md
  docs/deployment/STRIPE_INTEGRATION.md
  docs/guides/SUPABASE_SETUP.md
  docs/guides/VERIFICATION_TABLES_SUPABASE.md
  docs/security/STRIPE_SUBSCRIPTION_FIX_README.md
Owners: @casskai-team

docs: Day 4 - Professional README and CHANGELOG
  CHANGELOG.md
  README.md
Owners: @casskai-team

docs: Week 2 Day 1 - TypeScript Debt Audit Report
  docs/TYPESCRIPT_DEBT_REPORT.md
Owners: @casskai-team

refactor: Week 2 Day 2 - Remove @ts-nocheck from ALL hooks (16 files)
  src/hooks/index.ts
  src/hooks/useAccountingImport.ts
  src/hooks/useCompanies.ts
  src/hooks/useCrm.ts
  src/hooks/useEnterprise.ts
  src/hooks/useHR.ts
  src/hooks/useInventory.ts
  src/hooks/useJournalEntries.ts
  src/hooks/useJournals.ts
  src/hooks/useLicense.ts
  src/hooks/usePlausibleAnalytics.ts
  src/hooks/useProjects.ts
  src/hooks/useThirdParties.ts
  src/hooks/useTransactions.ts
  src/hooks/useUserManagement.ts
  src/hooks/useWebVitals.ts
Owners: @casskai-frontend-team

refactor: Week 2 Day 2 - Remove @ts-nocheck from services batch 1 (5 files)
  src/services/configService.ts
  src/services/errorHandlingService.ts
  src/services/licenseService.ts
  src/services/marketService.ts
  src/services/tenantService.ts
Owners: @casskai-backend-team

refactor: Week 2 Day 2 - Remove @ts-nocheck from services batch 2 (8 files)
  src/services/aiAnalyticsService.ts
  src/services/aiAssistantService.ts
  src/services/aiVisualizationService.ts
  src/services/automaticLetterageService.ts
  src/services/currencyIntegration.ts
  src/services/einvoicing/adapters/ChannelProviders/PPFProvider.ts
  src/services/einvoicing/api/routes.ts
  src/services/einvoicing/inbound/InboundService.ts
Owners: @casskai-backend-team

refactor: Week 2 Day 2 - Remove @ts-nocheck from services batch 3 (10 files)
  src/services/fecImportService.ts
  src/services/fecParser.ts
  src/services/forecastsService.ts
  src/services/hrService.ts
  src/services/invoicePdfService.ts
  src/services/invoicingService.ts
  src/services/invoicingServiceEnhanced.ts
  src/services/migrationService.ts
  src/services/onboarding/OnboardingServiceRefactored.ts
  src/services/onboardingService.ts
Owners: @casskai-backend-team

refactor: Week 2 Day 2 - Remove @ts-nocheck from services batch 4 (FINAL 10 files)
  src/services/ReportExportService.ts
  src/services/openBanking/providers/BridgeProvider.ts
  src/services/openBanking/providers/BudgetInsightProvider.ts
  src/services/pdfService.ts
  src/services/performanceOptimizer.ts
  src/services/projectsService.ts
  src/services/purchasesService.ts
  src/services/reportGenerationService.ts
  src/services/taxService.ts
  src/services/vatCalculationService.ts
Owners: @casskai-backend-team

docs: Week 2 Day 2 - Update TYPESCRIPT_DEBT_REPORT with progress
  docs/TYPESCRIPT_DEBT_REPORT.md
Owners: @casskai-team

refactor: Week 2 Day 3 - Remove @ts-nocheck from components batch 1 (15 files)
  src/components/accounting/FECImport.tsx
  src/components/accounting/SetupWizard.tsx
  src/components/ai/widgets/CashFlowPredictionWidget.tsx
  src/components/ai/widgets/TaxOptimizationWidget.tsx
  src/components/analytics/AnalyticsProvider.tsx
  src/components/auth/PermissionGuard.tsx
  src/components/banking/BankReconciliation.tsx
  src/components/crm/CommercialActions.tsx
  src/components/crm/OpportunitiesKanban.tsx
  src/components/crm/OpportunityPipeline.tsx
  src/components/currency/CurrencyComponents.tsx
  src/components/dashboard/ModularDashboard.tsx
  src/components/debug/OnboardingDebugPanel.tsx
  src/components/einvoicing/EInvoiceSubmissionForm.tsx
Owners: @casskai-frontend-team

refactor: Week 2 Day 3 - Remove @ts-nocheck from components batch 2 (14 files)
  src/components/LanguageToggle.tsx
  src/components/enterprise/EnterpriseSelector.tsx
  src/components/forecasts/ForecastReportView.tsx
  src/components/guards/AuthIntegration.tsx
  src/components/guards/ConfigGuard.tsx
  src/components/installation/InstallationGuide.tsx
  src/components/invoicing/OptimizedInvoicesTab.tsx
  src/components/invoicing/OptimizedPaymentsTab.tsx
  src/components/modules/ModulesManagementPage.tsx
  src/components/reports/QuickAction.tsx
  src/components/reports/ReportsKPI.tsx
  src/components/security/SecuritySettingsPage.tsx
  src/components/setup/CurrencySelector.tsx
  src/components/setup/LicenseChecker.tsx
Owners: @casskai-frontend-team

refactor: Week 2 Day 3 - Remove @ts-nocheck from components batch 3 (FINAL 13 files)
  src/components/accounting/ChartOfAccountsEnhanced.tsx
  src/components/setup/MarketSelector.tsx
  src/components/setup/SetupWizard.tsx
  src/components/setup/TenantGuard.tsx
  src/components/ui/AnimatedChart.tsx
  src/components/ui/DragDropGrid.tsx
  src/components/ui/LazyChart.tsx
  src/components/ui/SkeletonLoader.tsx
  src/components/ui/SmartTooltip.tsx
  src/components/ui/date-picker.tsx
  src/components/ui/form.tsx
  src/components/ui/toast.tsx
  src/components/widgets/WidgetRenderer.tsx
Owners: @casskai-frontend-team

refactor: Week 2 Day 3 - Remove @ts-nocheck from ALL pages (14 files)
  src/pages/AccountingImportPage.tsx
  src/pages/BanksPage.tsx
  src/pages/BillingPage.tsx
  src/pages/CookiesPolicyPage.tsx
  src/pages/DiagnosticPage.tsx
  src/pages/DocumentationArticlePage.tsx
  src/pages/GDPRPage.tsx
  src/pages/InvoicingPage.tsx
  src/pages/LandingPage.tsx
  src/pages/PrivacyPolicyPage.tsx
  src/pages/ProjectsPage.tsx
  src/pages/PurchasesPage.tsx
  src/pages/SettingsPage.tsx
  src/pages/TaxPage.tsx
Owners: @casskai-frontend-team

refactor: Week 2 Day 3 - Remove @ts-nocheck from ALL remaining files (19 files)
  .claude/settings.local.json
  src/config/app-routes.tsx
  src/contexts/DashboardContext.tsx
  src/contexts/EnterpriseContext.tsx
  src/data/licensePlans.ts
  src/i18n/i18n.ts
  src/lib/formData.ts
  src/lib/formHelpers.ts
  src/lib/formIntegration.tsx
  src/lib/icons.tsx
  src/lib/index.ts
  src/modules/crm/crmModule.ts
  src/services/dashboardService.tsx
  src/types/database-base.ts
  src/types/database/accounting.types.ts
  src/types/database/invoices.types.ts
  src/types/database/transactions.types.ts
  src/types/index.ts
  src/types/types-fixes.d.ts
  src/utils/abTestingFramework.ts
Owners: @casskai-team, @casskai-frontend-team, @casskai-backend-team

docs: Week 2 Day 3 - FINAL UPDATE - 100% TypeScript Debt Elimination Complete
  docs/TYPESCRIPT_DEBT_REPORT.md
Owners: @casskai-team
