Repository NouctheCo/Casskai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @casskai-team, @casskai-frontend-team, @casskai-devops-team, @casskai-backend-team, @casskai-security-team

.github/CODEOWNERS:

# Global owners
* @casskai-team

# Frontend code
/src/** @casskai-frontend-team
/tests/** @casskai-frontend-team

# Configuration files
/*.json @casskai-devops-team
/*.js @casskai-devops-team
/*.ts @casskai-devops-team
/.*rc* @casskai-devops-team

# CI/CD and DevOps
/.github/** @casskai-devops-team
/Dockerfile* @casskai-devops-team
/docker-compose* @casskai-devops-team
/nginx.conf @casskai-devops-team

# Database and migrations
/supabase/** @casskai-backend-team
/src/services/** @casskai-backend-team

# Security sensitive files
/.env* @casskai-security-team
/scripts/check-env-secrets.js @casskai-security-team

# Documentation
/*.md @casskai-team
/docs/** @casskai-team

fix(i18n): translate remaining French strings in en/es locales and fix namespace mismatch
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
Owners: @casskai-frontend-team

feat(ux): major UX/UI upgrade - accessibility, AI chat, navigation, design system
  src/components/ai/AIAssistantChat.tsx
  src/components/layout/Header.tsx
  src/components/layout/IntelligentSidebar.tsx
  src/components/layout/MainLayout.tsx
  src/components/trial/TrialComponents.tsx
  src/components/ui/breadcrumb.tsx
  src/index.css
Owners: @casskai-frontend-team

feat(ux): batch 2-3 - dashboard, landing, onboarding, empty states, notifications
  src/components/automation/AutomationDashboard.tsx
  src/components/dashboard/RealOperationalDashboard.tsx
  src/components/invoicing/OptimizedInvoicesTab.tsx
  src/components/landing-v2/Navbar.tsx
  src/components/notifications/NotificationCenter.tsx
  src/components/onboarding/OnboardingProgressBar.tsx
  src/components/subscription/SubscriptionWidget.tsx
  src/components/third-parties/ThirdPartyFormDialog.tsx
  src/components/ui/CommandPalette.tsx
  src/components/ui/EmptyState.tsx
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/pages/AccountingPage.tsx
  src/pages/InvoicingPage.tsx
  src/pages/LandingPage.tsx
  src/pages/OnboardingPage.tsx
  src/pages/ProjectsPage.tsx
  src/pages/onboarding/CompanyStep.tsx
  src/pages/onboarding/CompleteStep.tsx
  src/pages/onboarding/FeaturesStep.tsx
  src/pages/onboarding/LanguageStep.tsx
  src/pages/onboarding/ModulesStep.tsx
  src/pages/onboarding/PreferencesStep.tsx
  src/pages/onboarding/WelcomeStep.tsx
  tailwind.config.cjs
Owners: @casskai-frontend-team, @casskai-team

fix(e2e): add missing test-helpers module for AI E2E tests
  e2e/testUtils/test-helpers.ts
Owners: @casskai-team

fix(tests): repair 6 failing test suites - 370/370 tests passing
  src/services/__tests__/AccountingStandardAdapter.test.ts
  src/services/__tests__/aiAccountCategorizationService.test.ts
  src/services/__tests__/inventoryValuationService.test.ts
  src/services/__tests__/reportDrilldownHelper.test.ts
  src/services/__tests__/reportGeneration.rollforward.test.ts
  src/services/__tests__/syscohadaValidation.test.ts
Owners: @casskai-backend-team

fix: Remove allowed_modules from resendInvitation to align with company_invitations schema
  src/services/teamService.ts
Owners: @casskai-backend-team
