Repository NouctheCo/Casskai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @casskai-team, @casskai-frontend-team, @casskai-devops-team, @casskai-backend-team, @casskai-security-team

fix(crm): Correction traductions et intégration ClientSelector dans modales CRM
  src/components/crm/NewActionModal.tsx
  src/components/crm/NewClientModal.tsx
  src/components/crm/NewOpportunityModal.tsx
  src/i18n/locales/fr.json
Owners: @casskai-frontend-team

i18n(crm): Ajout traductions manquantes en anglais et espagnol
  src/i18n/locales/en.json
  src/i18n/locales/es.json
Owners: @casskai-frontend-team

feat(i18n): Ajout complet des traductions CRM manquantes (FR/EN/ES)
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
Owners: @casskai-frontend-team

feat(typescript): 🎯 Correction COMPLÈTE TypeScript - 960 → 0 erreurs (100%)
  src/components/accounting/SetupWizard.tsx
  src/components/dashboard/RealOperationalDashboard.tsx
  src/components/hr/TrainingTab.tsx
  src/components/invoicing/OptimizedPaymentsTab.tsx
  src/components/invoicing/OptimizedQuotesTab.tsx
  src/components/notifications/NotificationCenter.tsx
  src/components/setup/SetupWizard.tsx
  src/components/subscription/EnterpriseTrialManager.tsx
  src/components/subscription/SubscriptionWidget.tsx
  src/contexts/DashboardContext.tsx
  src/hooks/useLocalStorage.tsx
  src/pages/AccountingPage.tsx
  src/pages/DocumentationArticlePage.tsx
  src/pages/DocumentationCategoryPage.tsx
  src/pages/GDPRPage.tsx
  src/pages/InvoicingPage.tsx
  src/pages/ProjectsPage.tsx
  src/pages/UserManagementPage.tsx
  src/services/ReportExportService.ts
  src/services/ai/OpenAIService.ts
  src/services/automaticLetterageService.ts
  src/services/contractsServiceImplementations.ts
  src/services/csvImportService.ts
  src/services/invoicePdfService.ts
  src/services/sampleData/SampleDataService.ts
  src/types/reports.types.ts
  src/types/subscription.types.ts
Owners: @casskai-frontend-team, @casskai-backend-team

feat(landing): Améliorations UX/UI et branding générique
  src/components/accounting/ReportsFinancialDashboard.tsx
  src/components/ai/AIAssistant.tsx
  src/components/dashboard/OnboardingTour.tsx
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/pages/LandingPage.tsx
  src/services/ReportExportService.ts
  src/services/aiAnalysisService.ts
  src/services/aiReportAnalysisService.ts
  src/services/chartImageService.ts
  src/services/dashboardStatsService.ts
  src/services/invoicePdfService.ts
  src/services/pdfService.ts
  src/services/reportGenerationService.ts
Owners: @casskai-frontend-team, @casskai-backend-team

fix(onboarding): Correction redirection onboarding après connexion
  src/AppRouter.tsx
Owners: @casskai-frontend-team

fix(accounting): Correction système d'affectation des journaux comptables
  src/services/invoiceJournalEntryService.ts
  src/services/journalEntriesService.ts
Owners: @casskai-backend-team

chore(tooling): stabilize lint + depcheck
  .gitattributes
  depcheck.config.json
  eslint.config.js
  package-lock.json
  package.json
Owners: @casskai-team, @casskai-devops-team

fix(onboarding): avoid redirect race
  src/components/guards/ProtectedRoute.tsx
  src/contexts/AuthContext.tsx
Owners: @casskai-frontend-team

chore(ci): fix coverage provider + relax audit dry-run
  .github/workflows/ci.yml
  package-lock.json
  package.json
Owners: @casskai-devops-team

test: fix unit tests and mocks
  src/services/ai/OpenAIService.test.ts
  src/services/ai/OpenAIService.ts
  src/services/budgetService.test.ts
  src/services/notificationService.test.ts
  src/tests/rgpd/rgpdCompliance.test.ts
  src/utils/cacheManager.test.ts
  src/utils/migration.test.ts
Owners: @casskai-backend-team, @casskai-frontend-team

chore(test): pin jsdom to v26 for Node 18 coverage
  package-lock.json
  package.json
Owners: @casskai-devops-team

chore: préparer le déploiement phase1-clean - ajout des fonctionnalités de suppression de compte
  00_LIRE_MOI_DABORD.md
  ARCHITECTURE_DELETION_FEATURES.md
  DEPLOIEMENT_RAPIDE_DELETION_FEATURES.md
  GUIDE_DEPLOIEMENT_DELETION_FEATURES.md
  IMPLEMENTATION_DELETION_FEATURES_SUMMARY.md
  INDEX_DOCUMENTATION_DELETION.md
  RESUME_FINAL_IMPLEMENTATION.md
  VALIDATION_IMPLEMENTATION_COMPLETE.md
  index.html
  scripts/check-supabase-deletion-tables.cjs
  scripts/check-supabase-deletion-tables.ts
  src/components/HomePage.tsx
  src/components/accounting/FECImportDropzone.tsx
  src/components/guards/AuthGuard.tsx
  src/components/guards/ProtectedRoute.tsx
  src/components/invoicing/OptimizedInvoicesTab.tsx
  src/components/settings/CompanyDeletionDialog.tsx
  src/components/settings/CompanySettings.tsx
  src/contexts/AuthContext.tsx
  src/contexts/OnboardingContext.tsx
  src/contexts/OnboardingContextNew.tsx
  src/hooks/useCompanyDeletion.ts
  src/pages/LandingPage.tsx
  src/pages/OnboardingPage.tsx
  src/pages/TermsOfSalePage.tsx
  src/pages/UserManagementPage.tsx
  src/pages/onboarding/LanguageStep.tsx
  src/services/companyDeletionService.ts
  src/services/onboarding/OnboardingProgressService.ts
  src/services/onboarding/OnboardingServiceRefactored.ts
  src/services/onboarding/OnboardingStorageService.ts
  src/services/onboardingService.ts
  src/types/onboarding.types.ts
  supabase/functions/accept-invitation/index.ts
  supabase/functions/approve-company-deletion/index.ts
  supabase/functions/cancel-deletion-request/index.ts
  supabase/functions/delete-account/index.ts
  supabase/functions/delete-company/index.ts
  supabase/functions/export-user-data/index.ts
  supabase/functions/send-invitation/index.ts
Owners: @casskai-team, @casskai-frontend-team, @casskai-backend-team

feat: ajouter synchronisation temps réel des KPIs avec Supabase real-time subscriptions
  REALTIME_KPI_SYNC_IMPLEMENTATION.md
  src/components/dashboard/RealOperationalDashboard.tsx
  src/hooks/useKpiRefresh.ts
  src/services/journalEntriesService.ts
  src/services/kpiCacheService.ts
  src/services/realDashboardKpiService.ts
Owners: @casskai-team, @casskai-frontend-team, @casskai-backend-team

fix: corriger sélecteurs de période et ajouter Année N-1 partout
  src/components/accounting/OptimizedReportsTab.tsx
  src/components/reports/ReportGenerationTab.tsx
  src/pages/AccountingPage.tsx
  src/pages/InvoicingPage.tsx
Owners: @casskai-frontend-team

perf: optimiser UX dashboard - cache intelligent + Page Visibility + debounce
  src/components/dashboard/RealOperationalDashboard.tsx
  src/hooks/usePageVisibility.ts
  src/services/kpiCacheService.ts
Owners: @casskai-frontend-team, @casskai-backend-team

fix: corriger erreurs ESLint et race condition dans hooks
  src/hooks/useKpiRefresh.ts
  src/hooks/usePageVisibility.ts
Owners: @casskai-frontend-team

feat: finalisation intégration fiscalité et optimisations Playwright
  FINALISATION_INTEGRATION.md
  playwright.config.ts
  src/AppRouter.tsx
  src/components/fiscal/VATNumberValidator.tsx
  src/components/invoicing/LateFeeCalculator.tsx
  src/components/layout/Sidebar.tsx
  src/components/settings/CompanySettings.tsx
  src/components/validation/BusinessIdValidator.tsx
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/pages/InvoicingPage.tsx
  src/pages/Reports/LoanSimulator.tsx
  src/pages/Reports/TaxSimulator.tsx
  src/pages/TaxPage.tsx
  src/services/fiscal/TaxSimulationService.ts
  src/utils/validation/sirenValidator.ts
Owners: @casskai-team, @casskai-devops-team, @casskai-frontend-team, @casskai-backend-team

fix(ci): corriger erreurs ESLint et tests unitaires pour CI/CD
  .github/workflows/ci.yml
  src/components/layout/Sidebar.tsx
  src/components/validation/BusinessIdValidator.tsx
  src/utils/migration.test.ts
  src/utils/validation/sirenValidator.ts
Owners: @casskai-devops-team, @casskai-frontend-team

fix(tests): corriger test useMigration et rendre tests RGPD optionnels
  src/lib/supabaseTest.ts
  src/utils/migration.test.ts
Owners: @casskai-frontend-team

fix(ci): activer Playwright tests pour phase1-clean et develop
  .github/workflows/playwright.yml
Owners: @casskai-devops-team

fix(tests): exporter client mock au lieu de throw error pour tests RGPD
  .github/workflows/ci.yml
  src/lib/supabaseTest.ts
Owners: @casskai-devops-team, @casskai-frontend-team

fix(onboarding): corriger sauvegarde complète des données entreprise
  src/contexts/OnboardingContextNew.tsx
Owners: @casskai-frontend-team

fix: add autocomplete attributes and fix onboarding redirect race condition
  src/components/guards/AuthGuard.tsx
  src/contexts/AuthContext.tsx
Owners: @casskai-frontend-team

fix: add missing company profile fields and align company key
  src/contexts/AuthContext.tsx
  src/types/onboarding.types.ts
Owners: @casskai-frontend-team

chore(ci): bump upload-artifact to v4
  .github/workflows/ci.yml
Owners: @casskai-devops-team

fix: set isCheckingOnboarding flag immediately on login
  src/contexts/AuthContext.tsx
Owners: @casskai-frontend-team

fix: dashboard not rendering - remove buggy hasInitializedRef logic in useEffect
  src/components/dashboard/RealOperationalDashboard.tsx
Owners: @casskai-frontend-team

debug: add verbose logging to diagnose dashboard loading issue
  src/components/dashboard/RealOperationalDashboard.tsx
  src/pages/DashboardPage.tsx
Owners: @casskai-frontend-team

debug: add logging to getCompanyDetails to diagnose loading issue
  src/contexts/AuthContext.tsx
  src/lib/company.ts
Owners: @casskai-frontend-team

debug: add logging to getUserCompanies to find where companies are not loading
  src/contexts/AuthContext.tsx
  src/lib/company.ts
Owners: @casskai-frontend-team

fix: remove loading from useCallback deps causing infinite re-renders
  src/components/dashboard/RealOperationalDashboard.tsx
Owners: @casskai-frontend-team

chore: prune diagnostic console logs (dashboard, auth, company)
  src/components/dashboard/RealOperationalDashboard.tsx
  src/contexts/AuthContext.tsx
  src/lib/company.ts
  src/pages/DashboardPage.tsx
Owners: @casskai-frontend-team

fix: prevent unnecessary page reloads when returning to tab - strengthen auth guards and remove event noise
  src/components/dashboard/RealOperationalDashboard.tsx
  src/contexts/AuthContext.tsx
  src/hooks/usePageVisibility.ts
Owners: @casskai-frontend-team

chore(landing): mise à jour pour le lancement - suppression label Beta et ajustement statistique à 20+ entreprises
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/pages/LandingPage.tsx
Owners: @casskai-frontend-team

feat(tax): ajouter modal de configuration des obligations fiscales
  src/components/fiscal/ObligationConfigDialog.tsx
  src/i18n/locales/fr.json
  src/pages/TaxPage.tsx
  src/services/taxService.ts
Owners: @casskai-frontend-team, @casskai-backend-team

i18n: ajouter traductions EN et ES pour modal de configuration des obligations
  src/i18n/locales/en.json
  src/i18n/locales/es.json
Owners: @casskai-frontend-team

fix(tax): corriger mapping company_id/enterprise_id pour obligations
  OBLIGATIONS_FISCALES_SUPABASE.md
  src/services/taxService.ts
Owners: @casskai-team, @casskai-backend-team

feat: Synchronisation automatique des soldes bancaires + Correction import QIF
  BANK_BALANCE_SYNCHRONIZATION.md
  BANK_IMPORT_QIF_FIX.md
  src/components/banking/BankAccountBalanceManager.tsx
  src/components/banking/BankAccountsTab.tsx
  src/services/autoAccountingIntegrationService.ts
  src/services/bankAccountBalanceService.ts
  src/services/bankImportService.ts
  src/services/bankStorageAdapter.ts
Owners: @casskai-team, @casskai-frontend-team, @casskai-backend-team

fix: Nettoyer les doublons CSS dans BankAccountsTab
  src/components/banking/BankAccountsTab.tsx
Owners: @casskai-frontend-team

.github/CODEOWNERS:

# Global owners
* @casskai-team

# Frontend code
/src/** @casskai-frontend-team
/tests/** @casskai-frontend-team

# Configuration files
/*.json @casskai-devops-team
/*.js @casskai-devops-team
/*.ts @casskai-devops-team
/.*rc* @casskai-devops-team

# CI/CD and DevOps
/.github/** @casskai-devops-team
/Dockerfile* @casskai-devops-team
/docker-compose* @casskai-devops-team
/nginx.conf @casskai-devops-team

# Database and migrations
/supabase/** @casskai-backend-team
/src/services/** @casskai-backend-team

# Security sensitive files
/.env* @casskai-security-team
/scripts/check-env-secrets.js @casskai-security-team

# Documentation
/*.md @casskai-team
/docs/** @casskai-team
