Repository NouctheCo/Casskai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @casskai-team, @casskai-frontend-team, @casskai-devops-team, @casskai-backend-team, @casskai-security-team

.github/CODEOWNERS:

# Global owners
* @casskai-team

# Frontend code
/src/** @casskai-frontend-team
/tests/** @casskai-frontend-team

# Configuration files
/*.json @casskai-devops-team
/*.js @casskai-devops-team
/*.ts @casskai-devops-team
/.*rc* @casskai-devops-team

# CI/CD and DevOps
/.github/** @casskai-devops-team
/Dockerfile* @casskai-devops-team
/docker-compose* @casskai-devops-team
/nginx.conf @casskai-devops-team

# Database and migrations
/supabase/** @casskai-backend-team
/src/services/** @casskai-backend-team

# Security sensitive files
/.env* @casskai-security-team
/scripts/check-env-secrets.js @casskai-security-team

# Documentation
/*.md @casskai-team
/docs/** @casskai-team

Fix: Correct bank import field names and Supabase API compatibility
  src/services/bankImportService.ts
Owners: @casskai-backend-team

Fix: always send Supabase apikey header; align is_reconciled usage in reconciliation service
  BANK_IMPORT_FIX_SUPABASE_COMPATIBILITY.md
  src/lib/supabase.ts
  src/services/bankReconciliationService.ts
Owners: @casskai-team, @casskai-frontend-team, @casskai-backend-team

Feature: Auto-generate journal entry references + Display attachments in preview dialog
  src/components/accounting/OptimizedJournalEntriesTab.tsx
  src/services/journalEntriesService.ts
Owners: @casskai-frontend-team, @casskai-backend-team

Fix: Auto-generate reference with timestamp client-side + Attach PJ viewer in preview dialog
  src/components/accounting/OptimizedJournalEntriesTab.tsx
Owners: @casskai-frontend-team

Fix: Improve attachment loading in preview dialog with better error handling and visibility
  src/components/accounting/OptimizedJournalEntriesTab.tsx
Owners: @casskai-frontend-team

Chore: Reduce Tailwind IntelliSense noise; fix a11y; remove duplicate dark classes (HelpCenter, SystemStatus, Legal, Invoicing, Reports, Banking, Sidebar) without visual changes
  src/components/accounting/JournalEntryAttachments.tsx
  src/components/accounting/OptimizedReportsTab.tsx
  src/components/banking/BankAccountsTab.tsx
  src/components/layout/Sidebar.tsx
  src/pages/HelpCenterPage.tsx
  src/pages/InvoicingPage.tsx
  src/pages/LegalPage.tsx
  src/pages/SystemStatusPage.tsx
Owners: @casskai-frontend-team

fix: HelpCenterPage syntax error - complete dark:bg class
  src/pages/HelpCenterPage.tsx
Owners: @casskai-frontend-team

fix: show attachments in journal entry preview dialog
  src/components/accounting/OptimizedJournalEntriesTab.tsx
Owners: @casskai-frontend-team

feat: Enhance Maghreb fiscal service with country-specific declarations
  AMELIORATIONS_SERVICE_FISCAL_MAGHREB.md
  src/services/fiscal/SCFTaxComplianceService.ts
Owners: @casskai-team, @casskai-backend-team

chore: npm audit fix (non-breaking)
  package-lock.json
Owners: @casskai-devops-team

chore: upgrade jspdf to v4
  package-lock.json
  package.json
Owners: @casskai-devops-team

chore: move jspdf to dependencies
  package-lock.json
  package.json
Owners: @casskai-devops-team

chore: align lint tooling
  eslint.config.js
  package-lock.json
  package.json
Owners: @casskai-devops-team

feat: add RFA helpers
  src/components/contracts/rfa/RFAAdvancedPanel.tsx
  src/components/contracts/rfa/RFAImportsPanel.tsx
  src/components/contracts/rfa/RFAProductGroupsPanel.tsx
  src/components/ui/multi-select.tsx
  src/services/rfa/rfaImportsService.ts
  src/services/rfa/rfaProductGroupsService.ts
  src/services/rfa/rfaTurnoverService.ts
  src/utils/csvLite.ts
Owners: @casskai-frontend-team, @casskai-backend-team

fix: open billing plans tab from trial banner
  src/components/subscription/SubscriptionBanner.tsx
Owners: @casskai-frontend-team

fix: correct JSX-in-string bugs showing raw code in UI
  src/components/accounting/FECImportTab.tsx
  src/components/accounting/OptimizedReportsTab.tsx
  src/components/banking/TransactionRow.tsx
  src/components/budget/BudgetCategoryForm.tsx
  src/pages/InvoicingPage.tsx
Owners: @casskai-frontend-team

fix: improve E2E test robustness for login form
  e2e/auth.spec.ts
  src/components/guards/AuthGuard.tsx
Owners: @casskai-team, @casskai-frontend-team

feat(contracts): add import tab for CA, product references, and RFA data
  src/components/contracts/ContractImportTab.tsx
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/pages/ContractsPage.tsx
Owners: @casskai-frontend-team

fix(contracts): adapt import to real Supabase tables schema
  src/components/contracts/ContractImportTab.tsx
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
Owners: @casskai-frontend-team

feat(contracts): add RFA communications module for email notifications
  src/components/contracts/RFACommunicationsPanel.tsx
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/pages/ContractsPage.tsx
  src/services/rfaCommunicationsService.ts
Owners: @casskai-frontend-team, @casskai-backend-team

fix(billing): améliorer le parcours de changement de plan et corriger les boutons non fonctionnels
  src/components/subscription/PlanSelector.tsx
  src/components/subscription/SubscriptionStatus.tsx
  src/i18n/locales/fr.json
  src/pages/BillingPage.tsx
Owners: @casskai-frontend-team

fix: resolve CI errors - lint and E2E tests
  .github/workflows/playwright.yml
  e2e/auth.spec.ts
  src/components/reports/regulatory/CredentialsManager.tsx
  src/pages/BillingPage.tsx
  src/services/rfaCommunicationsService.ts
Owners: @casskai-devops-team, @casskai-team, @casskai-frontend-team, @casskai-backend-team

fix: upgrade actions/download-artifact from v3 to v4 (deprecated)
  .github/workflows/ci.yml
Owners: @casskai-devops-team

fix(i18n): add missing landing page V2 translation keys
  scripts/fix-landing-v2-translations.cjs
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
Owners: @casskai-team, @casskai-frontend-team

fix(i18n): add missing translations for features, footer and aiChat sections
  scripts/fix-features-translations.cjs
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
Owners: @casskai-team, @casskai-frontend-team

refactor: clean up code and optimize components
  src/components/landing-v2/CTASection.tsx
  src/components/landing-v2/FeaturesShowcase.tsx
  src/components/landing-v2/Footer.tsx
  src/components/landing-v2/Globe3D.tsx
  src/components/landing-v2/TransformationTimeline.tsx
  src/components/landing-v2/WorldMap3D.tsx
  src/pages/AboutPage.tsx
  src/pages/UserManagementPage.tsx
  src/services/forecastsService.ts
  src/services/forecastsServiceImplementations.ts
  src/types/forecasts.types.ts
Owners: @casskai-frontend-team, @casskai-backend-team

chore: update eslint config and optimize imports
  eslint.config.js
  src/AppRouter.tsx
  src/services/hrPayrollService.ts
Owners: @casskai-devops-team, @casskai-frontend-team, @casskai-backend-team

chore: update CI workflows and add i18n translations
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
Owners: @casskai-devops-team, @casskai-frontend-team

feat: enhance accounting services and add i18n translations
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/services/accountingRulesService.ts
  src/services/assetAccountingSyncService.ts
  src/services/assetImportExportService.ts
  src/services/dashboardStatsService.ts
  src/services/depreciationService.ts
  src/services/inventoryJournalEntryService.ts
  src/services/journalEntriesService.ts
  src/services/purchaseJournalEntryService.ts
Owners: @casskai-frontend-team, @casskai-backend-team

fix: update navbar and invoicing page
  src/components/landing-v2/Navbar.tsx
  src/pages/InvoicingPage.tsx
Owners: @casskai-frontend-team

fix: update dashboard KPI service and AI analysis function
  src/services/realDashboardKpiService.ts
  supabase/functions/ai-dashboard-analysis/index.ts
Owners: @casskai-backend-team

fix: unify UserRole import, fix utils lint, replace require in bankingService
  src/hooks/useCompanies.ts
  src/lib/utils.ts
  src/services/bankingService.ts
Owners: @casskai-frontend-team, @casskai-backend-team

feat(currency): centralize currency handling in core services
  src/services/ai/cashFlowPredictionService.ts
  src/services/aiAnalysisService.ts
  src/services/aiReportAnalysisService.ts
  src/services/businessPlanService.ts
  src/services/einvoicing/adapters/InvoiceToEN16931Mapper.ts
  src/services/einvoicing/core/FormattingService.ts
  src/services/financialRatiosService.ts
Owners: @casskai-backend-team

feat(currency): centralize currency in banking and CRM components
  src/components/banking/BankAccountBalanceManager.tsx
  src/components/banking/BankAccountFormModal.tsx
  src/components/crm/OpportunityCard.tsx
Owners: @casskai-frontend-team

feat(currency): centralize currency in remaining CRM components
  src/components/crm/ClientsManagement.tsx
  src/components/crm/CrmDashboard.tsx
  src/components/crm/NewOpportunityModal.tsx
  src/components/crm/OpportunitiesKanban.tsx
Owners: @casskai-frontend-team

feat(currency): centralize currency in contract components
  src/components/contracts/ContractForm.tsx
  src/components/contracts/ContractImportTab.tsx
  src/components/contracts/RFACalculationsPanel.tsx
  src/components/contracts/RFACommunicationsPanel.tsx
Owners: @casskai-frontend-team

feat(currency): centralize currency in budget components
  src/components/budget/BudgetCard.tsx
  src/components/budget/BudgetCategoryForm.tsx
  src/components/budget/BudgetChart.tsx
  src/components/budget/BudgetForecastView.tsx
  src/components/budget/BudgetForm.tsx
  src/components/budget/BudgetFormModern.tsx
  src/components/budget/BudgetStats.tsx
Owners: @casskai-frontend-team

feat(currency): centralize currency in invoicing components
  src/components/invoicing/LateFeeCalculator.tsx
  src/components/invoicing/OptimizedInvoicesTab.tsx
Owners: @casskai-frontend-team

feat(currency): centralize currency in setup wizard components
  src/components/hr/EmployeeFormModal.tsx
  src/components/hr/ExpenseFormModal.tsx
  src/components/hr/TrainingFormModal.tsx
  src/components/setup/SetupWizard.tsx
  src/components/setup/SupabaseSetupWizard.tsx
Owners: @casskai-frontend-team

feat(currency): centralize currency in SepaPaymentGenerator
  src/components/banking/SepaPaymentGenerator.tsx
Owners: @casskai-frontend-team
