Repository NouctheCo/Casskai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @casskai-team, @casskai-frontend-team, @casskai-devops-team, @casskai-backend-team, @casskai-security-team

docs: Week 3 - Create comprehensive TypeScript error analysis (461 errors)
  docs/TYPESCRIPT_ERROR_ANALYSIS.md
Owners: @casskai-team

fix: Week 3 - Fix all 37 TypeScript errors in lib/index.ts
  src/lib/index.ts
Owners: @casskai-frontend-team

fix: Week 3 - Fix all 8 TypeScript errors in database-base.ts
  src/types/database-base.ts
Owners: @casskai-frontend-team

fix: Week 3 - Fix database type errors (-18 errors in database/*.types.ts)
  src/types/database-base.ts
  src/types/database-types-fix.ts
Owners: @casskai-frontend-team

fix: Week 3 - Fix all 14 errors in useUserManagement hook
  src/hooks/useUserManagement.ts
Owners: @casskai-frontend-team

fix: Week 3 - Fix all 14 errors in useCrm hook
  src/hooks/useCrm.ts
Owners: @casskai-frontend-team

fix: Week 3 - Fix all 8 errors in useEnterprise hook
  src/hooks/useEnterprise.ts
Owners: @casskai-frontend-team

fix: Week 3 - Fix all 16 errors in migrationService
  src/services/migrationService.ts
Owners: @casskai-backend-team

refactor: Remove all @ts-ignore and 'as any' from BridgeProvider
  src/services/openBanking/providers/BridgeProvider.ts
Owners: @casskai-backend-team

chore: ESLint auto-fixes in scripts and backend
  backend/server.js
  scripts/dev/check_functions.js
  scripts/fix_module_access.js
  scripts/run-migration.js
  src/components/budget/BudgetForm.tsx
  src/components/fiscal/TaxCompliancePanel.tsx
  src/components/invoicing/OptimizedPaymentsTab.tsx
  src/components/ui/date-picker.tsx
  src/components/ui/toaster.tsx
  src/components/ui/use-toast.ts
  src/hooks/useSupabase.ts
  src/infrastructure/reports/SupabaseReportRepository.ts
  src/infrastructure/reports/generators/IncomeStatementGenerator.ts
  src/pages/BanksPage.tsx
  src/pages/DocumentationArticlePage.tsx
  src/pages/InventoryPage.tsx
  src/pages/ProjectsPage.tsx
  src/pages/UserManagementPage.tsx
  src/services/ReportExportService.ts
  src/services/automationService.ts
  src/services/bankImportService.ts
  src/services/bankReconciliationService.ts
  src/services/budgetForecastService.ts
  src/services/budgetService.ts
  src/services/crmExportService.ts
  src/services/einvoicing/EInvoicingService.ts
  src/services/einvoicing/utils/FeatureFlagService.ts
  src/services/errorHandlingService.ts
  src/services/fecExportService.ts
  src/services/integratedAccountingService.ts
  src/services/openBanking/OpenBankingManager.ts
Owners: @casskai-team, @casskai-frontend-team, @casskai-backend-team

feat: Add complete Supabase migration for CRM and HR modules
  supabase/migrations/README_MIGRATION_05JAN2025.md
Owners: @casskai-backend-team

docs: Add comprehensive Supabase migration report
  docs/SUPABASE_MIGRATION_REPORT.md
Owners: @casskai-team

docs: Add manual migration instructions
  MIGRATION_INSTRUCTIONS.md
Owners: @casskai-team

feat: Add HR module tables and RLS policies to production database
  supabase/migrations/20251005170000_add_hr_tables.sql
  supabase/migrations/20251005170001_add_hr_rls_policies.sql
Owners: @casskai-backend-team

feat: Add critical infrastructure and complete CRM/Projects modules
  docs/AUDIT_COMPLET_2025-10-05.md
  src/data/licensePlans.ts
  supabase/migrations/20251005140635_sync_production_schema.sql
  supabase/migrations/20251005150523_remote_schema.sql
  supabase/migrations/20251005180000_add_critical_infrastructure_tables.sql
  supabase/migrations/20251005180001_add_critical_infrastructure_rls.sql
  supabase/migrations/20251005180002_add_crm_projects_missing_tables.sql
  supabase/migrations/20251005180003_add_crm_projects_rls.sql
Owners: @casskai-team, @casskai-frontend-team, @casskai-backend-team

feat: Complete notification system and comprehensive documentation
  docs/FAQ.md
  docs/user-guide/getting-started.md
  docs/user-guide/invoicing-101.md
  src/hooks/useNotifications.ts
  src/services/notificationService.ts
Owners: @casskai-team, @casskai-frontend-team, @casskai-backend-team

docs: Final comprehensive correction report
  docs/CORRECTIONS_COMPLETES_2025-10-05.md
Owners: @casskai-team

feat: Add automated testing and CI/CD pipeline
  .claude/settings.local.json
  .github/workflows/ci.yml
  README.md
  package-lock.json
  package.json
  src/lib/utils.test.ts
  src/services/notificationService.test.ts
  src/test/setup.ts
  vitest.config.ts
Owners: @casskai-team, @casskai-devops-team, @casskai-frontend-team, @casskai-backend-team

docs: Add comprehensive REST API v1.0 documentation
  docs/api/REST_API_v1.md
Owners: @casskai-team

docs: Add comprehensive commercial launch plan (45-day roadmap)
  docs/PLAN_DEPLOIEMENT_COMMERCIAL_2025.md
Owners: @casskai-team

docs: Add complete session summary for planning phase
  docs/archive/SESSION_PLANNING_2025-10-05.md
Owners: @casskai-team

test: Add comprehensive E2E tests and complete utility functions
  .env.test
  e2e/auth.spec.ts
  e2e/dashboard.spec.ts
  e2e/invoicing.spec.ts
  e2e/onboarding.spec.ts
  e2e/payments.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/lib/utils.test.ts
  src/lib/utils.ts
Owners: @casskai-security-team, @casskai-team, @casskai-devops-team, @casskai-frontend-team

feat: Add Sentry monitoring and SendGrid email service
  docs/SENTRY_SETUP.md
  package-lock.json
  package.json
  src/components/error/ErrorBoundary.tsx
  src/lib/sentry.ts
  src/services/sendgridEmailService.ts
  supabase/functions/send-email/index.ts
Owners: @casskai-team, @casskai-devops-team, @casskai-frontend-team, @casskai-backend-team

security: Complete security audit and resolve vulnerabilities
  .claude/settings.local.json
  docs/SECURITY_AUDIT.md
  package-lock.json
Owners: @casskai-team, @casskai-devops-team

docs: Complete Phase 1 summary - Technical Finalization
  docs/archive/SESSION_PHASE1_COMPLETE_2025-10-05.md
Owners: @casskai-team

feat: Phase 2 - Add Pricing section and legal pages (CGU/CGV)
  src/components/landing/PricingSection.tsx
  src/pages/legal/TermsPage.tsx
Owners: @casskai-frontend-team

fix: Correct pricing plans to match licensePlans.ts
  src/components/landing/PricingSection.tsx
Owners: @casskai-frontend-team

docs: Phase 2 review - 90% already completed!
  docs/archive/SESSION_PHASE2_REVIEW_2025-10-05.md
Owners: @casskai-team

refactor: Clean up duplicate components, keep market pricing system
  src/components/landing/PricingSection.tsx
  src/pages/legal/TermsPage.tsx
Owners: @casskai-frontend-team

feat: Phase 3 Beta Testing - Complete infrastructure
  deploy-staging.ps1
  docs/BETA_CONTACT_INFO.md
  docs/BETA_FORM_TEMPLATE.md
  docs/BETA_TESTING_RECRUITMENT.md
  docs/archive/SESSION_PHASE2_FINAL_2025-10-05.md
  docs/archive/SESSION_PHASE3_2025-10-05.md
  nginx-staging.conf
  src/App.tsx
  src/components/beta/BetaBanner.tsx
  src/components/beta/FeedbackWidget.tsx
  src/hooks/useBetaAnalytics.ts
  src/lib/sentry.ts
  src/pages/LandingPage.tsx
Owners: @casskai-team, @casskai-frontend-team

docs: Add beta testing social media posts and Sentry setup guide
  docs/BETA_SOCIAL_MEDIA_POSTS.md
  docs/SENTRY_STAGING_SETUP.md
Owners: @casskai-team

docs: Add Phase 3 final checklist and summary
  docs/PHASE3_FINAL_CHECKLIST.md
Owners: @casskai-team

docs: Add Phase 3 quickstart guide
  QUICKSTART_PHASE3.md
Owners: @casskai-team

deploy: Configure staging environment on VPS port 8081
  .claude/settings.local.json
  deploy-staging.sh
  nginx-staging-http.conf
Owners: @casskai-team

fix: Remove staging setup and deploy beta to production casskai.app
  deploy-staging.ps1
  deploy-staging.sh
Owners: @casskai-team

fix: Améliorations UX pour version production
  src/App.tsx
  src/components/beta/FeedbackWidget.tsx
  src/i18n/locales/en.json
  src/i18n/locales/fr.json
Owners: @casskai-frontend-team

Checkpoint from VS Code for coding agent session
  .github/workflows/ci.yml
  AUDIT_COMPLET_EXCELLENCE_INTERNATIONALE.md
  PLAN_ACTION_OPERATIONNEL.md
  SECURITE_RAPPORT_URGENT.md
  package-lock.json
  package.json
  src/components/accounting/ChartOfAccountsEnhanced.tsx
  src/components/accounting/JournalEntryForm.tsx
  src/components/accounting/OptimizedJournalEntriesTab.tsx
  src/components/accounting/OptimizedJournalsTab.tsx
  src/components/accounting/OptimizedReportsTab.tsx
  src/hooks/useThirdParties.ts
  src/lib/utils.test.ts
  src/pages/AccountingPage.tsx
  src/pages/DashboardPage.tsx
  src/pages/UserManagementPage.tsx
  src/services/HeavyReportExporter.ts
  src/services/ReportExportService.ts
  src/services/entryTemplatesService.ts
  src/services/invoicingService.ts
  src/services/thirdPartiesService.ts
  src/types/accounting-import.types.ts
  src/types/accounting.ts
  src/types/journalEntries.types.ts
  src/utils/professionalReports.ts
  src/utils/reportGeneration/core/excelGenerator.ts
  src/utils/reportGeneration/core/excelGeneratorExtensions.ts
  src/utils/reportGeneration/core/pdfGenerator.ts
  src/utils/reportGeneration/core/pdfGeneratorExtensions.ts
  src/utils/reportGeneration/types.ts
  src/utils/reportGenerators.ts
  supabase/functions/fix-cancel-trial/index.ts
  test_generators_simple.cjs
  test_reports_generation.js
  vite.config.ts
Owners: @casskai-devops-team, @casskai-team, @casskai-frontend-team, @casskai-backend-team

ci(security): ajout workflow gitleaks + ggshield optionnel, shellcheck; docs: DEPLOYMENT.md; hygiène: hook pre-commit secret scan
  .github/workflows/security-and-secrets.yml
  DEPLOYMENT.md
Owners: @casskai-devops-team, @casskai-team

ci: workflow unique lint/type-check/tests/build avec env VITE factices; suppression jobs invalides
  .github/workflows/ci.yml
Owners: @casskai-devops-team

fix(parsing): restore missing component names and commas in imports
  src/components/StripeIntegrationTest.tsx
  src/components/TrialComponents.tsx
  src/components/budget/BudgetCard.tsx
  src/components/debug/CacheDebugPanel.tsx
  src/components/purchases/PurchasesFilters.tsx
  src/components/reports/ReportViewer.tsx
  src/components/subscription/InvoiceViewer.tsx
  src/components/ui/FeedbackAnimations.tsx
  src/infrastructure/reports/generators/BalanceSheetGenerator.ts
  src/infrastructure/reports/generators/IncomeStatementGenerator.ts
  src/pages/StripeCancelPage.tsx
Owners: @casskai-frontend-team

.github/CODEOWNERS:

# Global owners
* @casskai-team

# Frontend code
/src/** @casskai-frontend-team
/tests/** @casskai-frontend-team

# Configuration files
/*.json @casskai-devops-team
/*.js @casskai-devops-team
/*.ts @casskai-devops-team
/.*rc* @casskai-devops-team

# CI/CD and DevOps
/.github/** @casskai-devops-team
/Dockerfile* @casskai-devops-team
/docker-compose* @casskai-devops-team
/nginx.conf @casskai-devops-team

# Database and migrations
/supabase/** @casskai-backend-team
/src/services/** @casskai-backend-team

# Security sensitive files
/.env* @casskai-security-team
/scripts/check-env-secrets.js @casskai-security-team

# Documentation
/*.md @casskai-team
/docs/** @casskai-team
