Repository NouctheCo/Casskai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @casskai-team, @casskai-frontend-team, @casskai-devops-team, @casskai-backend-team, @casskai-security-team

feat(currency): centralize currency in accounting components
  src/components/accounting/FECImport.tsx
  src/components/accounting/JournalEntryForm.tsx
Owners: @casskai-frontend-team

feat(currency): centralize currency in enterprise components
  src/components/enterprise/EnterpriseForm.tsx
Owners: @casskai-frontend-team

feat(currency): centralize currency in AI widgets and dashboard
  src/components/ai/widgets/AnomalyDetectionWidget.tsx
  src/components/ai/widgets/CashFlowPredictionWidget.tsx
  src/components/ai/widgets/TaxOptimizationWidget.tsx
  src/components/dashboard/AnimatedDashboard.tsx
  src/components/widgets/WidgetRenderer.tsx
Owners: @casskai-frontend-team

refactor(third-parties): replace € hardcoded formatting with formatCurrency helper
  src/components/third-parties/AgingAnalysisTab.tsx
  src/components/third-parties/TransactionsTab.tsx
Owners: @casskai-frontend-team

refactor(accounting): replace € hardcoded formatting in accounting services
  src/services/accounting/anomalyDetectionService.ts
  src/services/accounting/lettrageService.ts
  src/services/accounting/periodClosureService.ts
  src/services/accountingRulesService.ts
  src/services/accountingValidationService.ts
  src/services/fecService.ts
  src/services/fecValidationService.ts
Owners: @casskai-backend-team

refactor(business-fiscal): replace € hardcoded formatting in business and fiscal services
  src/services/AdvancedBusinessValidationService.ts
  src/services/businessPlanService.ts
  src/services/vatCalculationService.ts
Owners: @casskai-backend-team

refactor(assets-banking): replace € hardcoded formatting in asset, banking, and RFA services
  src/services/bankAccountBalanceService.ts
  src/services/rfaCalculationService.ts
Owners: @casskai-backend-team

refactor(ai): replace € hardcoded formatting in AI services
  src/services/ai/OpenAIService.ts
  src/services/ai/anomalyDetectionService.ts
  src/services/ai/cashFlowPredictionService.ts
  src/services/ai/taxOptimizationService.ts
Owners: @casskai-backend-team

refactor(invoicing-reporting): replace € hardcoded formatting in invoicing and reporting services
  src/services/realDashboardKpiService.ts
Owners: @casskai-backend-team

refactor(misc-services): replace € hardcoded formatting in workflow and HR templates services
  src/services/hrDocumentTemplatesService.ts
  src/services/workflowExecutionService.ts
Owners: @casskai-backend-team

refactor(assets-purchases): replace € hardcoded formatting in assets and purchases components
  src/components/purchases/PurchaseForm.tsx
Owners: @casskai-frontend-team

refactor(invoicing-hr-fiscal): replace € hardcoded formatting in invoicing, HR, and fiscal components
  src/components/hr/HRAnalyticsDashboard.tsx
  src/components/invoicing/OptimizedClientsTab.tsx
Owners: @casskai-frontend-team

refactor(reports-dashboard): replace € hardcoded formatting in reports and dashboard components
  src/components/dashboard/DashboardWidgetRenderer.tsx
  src/components/reports/DashboardSection.tsx
  src/components/reports/ReportsKPI.tsx
Owners: @casskai-frontend-team

refactor(inventory): replace € hardcoded formatting in inventory components
  src/components/inventory/InventoryDialogs.tsx
  src/components/inventory/InventoryStats.tsx
  src/components/inventory/MovementsTab.tsx
  src/components/inventory/ProductsTab.tsx
  src/components/inventory/SuppliersTab.tsx
  src/components/inventory/production/ProductionOrderCard.tsx
Owners: @casskai-frontend-team

refactor(misc): replace € hardcoded formatting in projects, settings, subscription, enterprise, and CRM components
  src/components/crm/OpportunityPipeline.tsx
  src/components/projects/TimesheetFormModal.tsx
  src/components/subscription/EnterpriseTrialManager.tsx
Owners: @casskai-frontend-team

refactor(accounting): replace € hardcoded formatting in OptimizedJournalEntriesTab, PeriodClosurePanel, and FECImportTab
  src/components/accounting/FECImportTab.tsx
  src/components/accounting/OptimizedJournalEntriesTab.tsx
  src/components/accounting/PeriodClosurePanel.tsx
Owners: @casskai-frontend-team

refactor(ai-seo): replace € hardcoded formatting in AI dashboard and SEO components
  src/components/ai/AIInsightsDashboard.tsx
  src/components/ai/PredictiveDashboard.tsx
Owners: @casskai-frontend-team

fix(lint): remove unused getCurrentCompanyCurrency import from PurchaseForm
  src/components/purchases/PurchaseForm.tsx
Owners: @casskai-frontend-team

fix(reports): replace local formatCurrency in LoanSimulator with centralized helper
  src/pages/Reports/LoanSimulator.tsx
Owners: @casskai-frontend-team

fix(third-parties): replace local formatCurrency with centralized helper from utils
  src/pages/ThirdPartiesPage.tsx
Owners: @casskai-frontend-team

fix(tax): replace local formatCurrency with centralized helper from utils
  src/pages/TaxPage.tsx
Owners: @casskai-frontend-team

fix(components): replace remaining EUR fallbacks with getCurrentCompanyCurrency()
  src/components/accounting/BudgetVsActualChart.tsx
  src/components/accounting/ReportsFinancialDashboard.tsx
  src/components/banking/BankAccountFormModal.tsx
  src/components/forecasts/ForecastComparisonView.tsx
  src/components/modules/ModuleManager.tsx
  src/components/third-parties/ThirdPartyFormDialog.tsx
Owners: @casskai-frontend-team

fix(ci): remove hardcoded Supabase key and update migration test currency
  src/utils/migration.test.ts
Owners: @casskai-frontend-team

WIP: save working tree before history rewrite
  src/components/dashboard/OnboardingTour.tsx
Owners: @casskai-frontend-team

fix(dashboard): replace hardcoded € symbol with dynamic currency in RealOperationalDashboard
  src/components/dashboard/RealOperationalDashboard.tsx
Owners: @casskai-frontend-team

fix(layout): resolve critical scroll nesting in MainLayout
  src/components/layout/MainLayout.tsx
Owners: @casskai-frontend-team

fix(modals): add body scroll lock and fix double overflow
  src/components/accounting/ChartOfAccountsEnhanced.tsx
  src/components/hr/EmployeeFormModal.tsx
  src/hooks/useBodyScrollLock.ts
Owners: @casskai-frontend-team

fix(modals): apply body scroll lock to 8 remaining HR/custom modals
  src/components/account/AccountDeletionWizard.tsx
  src/components/banking/BankAccountFormModal.tsx
  src/components/company/CompanyValidationWizard.tsx
  src/components/hr/DocumentDetailModal.tsx
  src/components/hr/GenerateDocumentModal.tsx
  src/components/hr/LeaveFormModal.tsx
  src/components/hr/NewEmployeeModal.tsx
  src/components/hr/TemplateFormModal.tsx
Owners: @casskai-frontend-team

feat(ui): add DialogScrollableContent with sticky header/footer
  src/components/ui/dialog-scrollable.tsx
Owners: @casskai-frontend-team

chore: finalize useBodyScrollLock hook and update KPI service
  src/hooks/useBodyScrollLock.ts
  src/services/realDashboardKpiService.ts
Owners: @casskai-frontend-team, @casskai-backend-team

feat: improve revenue calculation consistency
  src/services/accountMappingService.ts
  src/services/realDashboardKpiService.ts
Owners: @casskai-backend-team

fix: sécuriser endpoints Stripe et corriger recommandations Copilot
  PRODUCTION_DEPLOYMENT_CHECKLIST.md
  backend/server.js
  e2e/payments.spec.ts
  scripts/fix-input-selfclose.cjs
  scripts/fix-jsx-accessibility.cjs
  scripts/reconcile_links.js
Owners: @casskai-team

fix: resolve all TypeScript type-check errors (10 errors → 0)
  src/components/accounting/SetupWizard.tsx
  src/components/ui/date-picker.tsx
  src/hooks/trial.hooks.ts
  src/hooks/useRealtimeKPIs.ts
  src/i18n/i18n-simple.ts
  src/i18n/i18n.ts
  src/lib/devApiShims.ts
  src/pages/ProjectsPage.tsx
  src/pages/projects/ProjectForm.tsx
  src/services/auditService.ts
  src/services/inventory/inventory-validations.ts
  src/services/onboarding/OnboardingServiceRefactored.ts
  src/utils/componentHelpers.ts
Owners: @casskai-frontend-team, @casskai-backend-team

fix: resolve all 117 ESLint errors (117 → 0)
  src/components/accounting/InteractiveReportsTab.tsx
  src/components/accounting/PremiumJournalEntryForm.tsx
  src/components/accounting/SyscohadaValidationPanel.tsx
  src/components/accounting/ValidationSyscohadaPanel.tsx
  src/components/banking/BankAccountFormModal.tsx
  src/components/banking/BankReconciliation.tsx
  src/components/banking/BankReconciliationTab.tsx
  src/components/banking/TransactionCategorization.tsx
  src/components/contracts/ContractForm.tsx
  src/components/crm/NewActionModal.tsx
  src/components/crm/NewClientModal.tsx
  src/components/crm/NewOpportunityModal.tsx
  src/components/dashboard/AnimatedKPICard.tsx
  src/components/dashboard/RealOperationalDashboard.tsx
  src/components/dashboard/RealtimeStatusIndicator.tsx
  src/components/dashboard/ThresholdAlert.tsx
  src/components/hr/EmployeeFormModal.tsx
  src/components/hr/ExpenseFormModal.tsx
  src/components/invoicing/InvoiceFormDialog.tsx
  src/components/landing-v2/Navbar.tsx
  src/components/purchases/PurchaseForm.tsx
  src/components/reports/ClickableTableRow.tsx
  src/components/ui/AdvancedDataTable.tsx
  src/components/ui/CommandPalette.tsx
  src/components/ui/FileUploader.tsx
  src/components/ui/FormProgress.tsx
  src/components/ui/QuickActionsBar.tsx
  src/components/ui/RichTextEditor.tsx
  src/components/ui/UndoRedoTimeline.tsx
  src/hooks/useAutocomplete.ts
  src/hooks/useFormValidation.ts
  src/hooks/useRealtimeKPIs.ts
  src/hooks/useServiceWorker.tsx
  src/lib/image-optimizer.tsx
  src/lib/performance-monitor.tsx
  src/services/reportDrilldownHelper.ts
  src/services/reportGenerationService.ts
  src/services/syscohadaValidationService.ts
Owners: @casskai-frontend-team, @casskai-backend-team

feat: improve security, accessibility, error handling and UX feedback
  src/components/banking/BankAccountFormModal.tsx
  src/components/crm/NewClientModal.tsx
  src/components/dashboard/RealOperationalDashboard.tsx
  src/components/hr/EmployeeFormModal.tsx
  src/components/invoicing/InvoiceFormDialog.tsx
  src/components/ui/AdvancedDataTable.tsx
  src/hooks/useBanking.ts
  src/hooks/useCrm.ts
  src/hooks/useInventory.ts
  src/hooks/useJournalEntries.ts
  src/hooks/useProjects.ts
  src/hooks/useRealtimeKPIs.ts
  src/hooks/useThirdParties.ts
  src/services/articlesService.ts
  src/services/journalEntriesService.ts
  src/services/realtimeService.ts
  supabase/functions/accept-invitation/index.ts
  supabase/functions/approve-company-deletion/index.ts
  supabase/functions/audit-log/index.ts
  supabase/functions/cancel-deletion-request/index.ts
  supabase/functions/cancel-subscription/index.ts
  supabase/functions/create-checkout-session/index.ts
  supabase/functions/workflow-scheduler/index.ts
Owners: @casskai-frontend-team, @casskai-backend-team

feat(i18n): add missing translation keys for toast notifications
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
Owners: @casskai-frontend-team

fix: replace console.log with centralized logger, add error boundaries to pages, fix axios vulnerability
  package-lock.json
  src/components/accounting/AccountSuggestions.tsx
  src/components/accounting/OptimizedJournalEntriesTab.tsx
  src/components/accounting/PremiumJournalEntryForm.tsx
  src/components/accounting/SyscohadaValidationPanel.tsx
  src/components/accounting/ValidationSyscohadaPanel.tsx
  src/components/ai/AIAssistantChat.tsx
  src/components/compliance/ExtendedPaymentTermsAuditPanel.tsx
  src/components/crm/ClientsManagement.tsx
  src/components/crm/NewActionModal.tsx
  src/components/crm/NewOpportunityModal.tsx
  src/components/currency/ConversionHistory.tsx
  src/components/dashboard/PerformanceDashboard.tsx
  src/components/invoicing/OptimizedInvoicesTab.tsx
  src/contexts/KeyboardShortcutsContext.tsx
  src/hooks/useAutocomplete.ts
  src/hooks/useFormShortcuts.tsx
  src/lib/devApiShims.ts
  src/lib/offline-db.ts
  src/pages/AccountingPage.tsx
  src/pages/CurrencyManagementPage.tsx
  src/pages/HumanResourcesPage.tsx
  src/pages/InventoryPage.tsx
  src/pages/InvoicingPage.tsx
  src/pages/PaymentConfirmationPage.tsx
  src/pages/ProjectsPage.tsx
  src/pages/PurchasesPage.tsx
  src/pages/SalesCrmPage.tsx
  src/pages/ThirdPartiesPage.tsx
  src/services/assetsService.ts
  src/services/fiscal/BaseFiscalService.ts
  src/services/pricingMultiCurrency.ts
  src/services/stripeSessionService.ts
  src/services/trialService.ts
Owners: @casskai-devops-team, @casskai-frontend-team, @casskai-backend-team

feat(i18n): replace 165+ hardcoded French strings with i18n translations across 10 pages
  src/components/dashboard/RealOperationalDashboard.tsx
  src/components/layout/Header.tsx
  src/components/layout/IntelligentSidebar.tsx
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/pages/AccountingPage.tsx
  src/pages/BanksPage.tsx
  src/pages/ContractsPage.tsx
  src/pages/HumanResourcesPage.tsx
  src/pages/InvoicingPage.tsx
  src/pages/ProjectsPage.tsx
  src/pages/ThirdPartiesPage.tsx
Owners: @casskai-frontend-team

fix(ux): replace all 19 native confirm() dialogs with useConfirmDialog hook
  .gitignore
  src/components/accounting/JournalEntryAttachments.tsx
  src/components/accounting/OptimizedJournalEntriesTab.tsx
  src/components/automation/AutomationDashboard.tsx
  src/components/automation/WorkflowsList.tsx
  src/components/banking/BankAccountsTab.tsx
  src/components/banking/TransactionCategorization.tsx
  src/components/debug/CacheDebugPanel.tsx
  src/components/guards/ConfigGuard.tsx
  src/components/hr/DocumentTemplatesTab.tsx
  src/components/hr/DocumentsManagementTab.tsx
  src/components/invoicing/OptimizedClientsTab.tsx
  src/components/invoicing/OptimizedInvoicesTab.tsx
  src/components/reports/regulatory/CredentialsManager.tsx
  src/pages/BanksPage.tsx
  src/pages/TaxPage.tsx
  src/pages/ThirdPartiesPage.tsx
Owners: @casskai-team, @casskai-frontend-team

fix(i18n): add missing translation keys for header, common, and tax modules
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
Owners: @casskai-frontend-team

.github/CODEOWNERS:

# Global owners
* @casskai-team

# Frontend code
/src/** @casskai-frontend-team
/tests/** @casskai-frontend-team

# Configuration files
/*.json @casskai-devops-team
/*.js @casskai-devops-team
/*.ts @casskai-devops-team
/.*rc* @casskai-devops-team

# CI/CD and DevOps
/.github/** @casskai-devops-team
/Dockerfile* @casskai-devops-team
/docker-compose* @casskai-devops-team
/nginx.conf @casskai-devops-team

# Database and migrations
/supabase/** @casskai-backend-team
/src/services/** @casskai-backend-team

# Security sensitive files
/.env* @casskai-security-team
/scripts/check-env-secrets.js @casskai-security-team

# Documentation
/*.md @casskai-team
/docs/** @casskai-team
