Repository NouctheCo/Casskai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @casskai-team, @casskai-frontend-team, @casskai-devops-team, @casskai-backend-team, @casskai-security-team

refactor(ErrorBoundary): reduce unused vars warnings and export utilities
  src/components/ErrorBoundary.tsx
Owners: @casskai-frontend-team

fix(RouteErrorBoundary): remove unused-vars warning
  src/components/RouteErrorBoundary.tsx
Owners: @casskai-frontend-team

fix(SEOHead): eliminate warnings
  src/components/SEOHead.tsx
Owners: @casskai-frontend-team

fix(DashboardErrorBoundary): replace any with ErrorInfo type
  src/components/dashboard/DashboardErrorBoundary.tsx
Owners: @casskai-frontend-team

fix: Resolve 976 TypeScript errors and configure ESLint for scripts
  .env.sample
  .gitignore
  .nvmrc
  clear-browser-cache.html
  docs/ONBOARDING_FIX.md
  docs/SECRETS_ROTATION.md
  eslint.config.js
  fix-all-warnings-massive.ps1
  fix-component-names.ps1
  fix-parsing-errors.ps1
  fix-safe-only.ps1
  fix-safe-warnings.ps1
  fix-types-warnings.ps1
  fix-unused-params-types.ps1
  fix-warnings-manual-guide.md
  fix-warnings-progressive.ps1
  fix-warnings-smart.ps1
  lint-full-output.txt
  scripts/deploy_functions.js
  scripts/deploy_rls_fix.js
  scripts/dev/deploy_complete_solution.js
  scripts/dev/deploy_roles.js
  scripts/dev/diagnose_deployment.js
  scripts/dev/test_security_functionality.js
  src/components/error/ErrorBoundary.tsx
  src/lib/sentry.ts
  src/lib/utils.ts
  vite.config.ts
Owners: @casskai-security-team, @casskai-team, @casskai-devops-team, @casskai-frontend-team

fix: Remove unused imports in accounting components
  lint-errors.txt
  src/components/accounting/ChartOfAccountsEnhanced.tsx
  src/components/accounting/OptimizedJournalsTab.tsx
Owners: @casskai-team, @casskai-frontend-team

fix: Remove unused imports and prefix unused caught errors in SecuritySettingsPage
  src/components/security/SecuritySettingsPage.tsx
Owners: @casskai-frontend-team

fix: Remove unused imports in OptimizedReportsTab
  src/components/accounting/OptimizedReportsTab.tsx
Owners: @casskai-frontend-team

feat(security): Corrige dépendances React hooks et erreurs capturées
  src/components/accounting/OptimizedReportsTab.tsx
  src/components/banking/BankReconciliation.tsx
  src/components/security/SecuritySettingsPage.tsx
Owners: @casskai-frontend-team

feat(reports): Connecte sélecteur de modèles et corrige types stricts
  src/components/accounting/OptimizedReportsTab.tsx
Owners: @casskai-frontend-team

feat(banking): Réactive panneaux détails et états réconciliation
  src/components/banking/BankReconciliation.tsx
Owners: @casskai-frontend-team

chore(errors): Centralise le logging et l'environnement dans les Error Boundaries
  src/components/ErrorBoundary.tsx
  src/components/RouteErrorBoundary.tsx
  src/components/dashboard/DashboardErrorBoundary.tsx
Owners: @casskai-frontend-team

refactor(lint): Préfixe paramètres inutilisés et supprime imports morts
  src/components/ErrorBoundary.tsx
  src/components/RouteErrorBoundary.tsx
  src/components/dashboard/DashboardErrorBoundary.tsx
  src/services/fiscal/MultiCountryTaxService.ts
  src/services/fiscal/TaxIntegrationService.ts
  src/services/invoicePdfService.ts
  src/services/journalsService.ts
  src/utils/appLogger.ts
  src/utils/logger.ts
Owners: @casskai-frontend-team, @casskai-backend-team

refactor(lint): Types sans any + fix case blocks
  src/services/fiscal/MultiCountryTaxService.ts
  src/services/invoicePdfService.ts
  src/services/reportGenerationService.ts
  src/utils/appLogger.ts
Owners: @casskai-backend-team, @casskai-frontend-team

fix(eslint): clean unused variables and console.log violations
  src/components/ai/AIAssistantChat.tsx
  src/components/ai/AIInsightsDashboard.tsx
  src/components/ai/PredictiveDashboard.tsx
  src/components/ai/widgets/AIAssistantChat.tsx
  src/components/ai/widgets/AnomalyDetectionWidget.tsx
  src/components/ai/widgets/CashFlowPredictionWidget.tsx
  src/components/ai/widgets/HealthScoreWidget.tsx
  src/components/ai/widgets/SmartAlertsWidget.tsx
  src/components/ai/widgets/TaxOptimizationWidget.tsx
  src/components/analytics/AnalyticsProvider.tsx
  src/services/ai/OpenAIService.ts
  src/types/ai-types.ts
  src/types/ai.types.ts
Owners: @casskai-frontend-team, @casskai-backend-team

docs: update progress report with Phase A completion
  PROGRESS_REPORT.md
Owners: @casskai-team

docs: add final urgent fixes report
  RAPPORT_FINAL_URGENT.md
Owners: @casskai-team

docs: Phase 2 progress report - complexity reduction
  PHASE2_PROGRESS.md
Owners: @casskai-team

chore: create journal components directory structure
  SESSION_FINALE_RAPPORT.md
  src/services/ReportExportService.ts
  src/services/openBanking/providers/BridgeProvider.ts
  src/services/openBanking/providers/BudgetInsightProvider.ts
  src/types/index.ts
  src/utils/cacheManager.ts
  src/vite-env.d.ts
Owners: @casskai-team, @casskai-backend-team, @casskai-frontend-team

docs: complete final changelog with consolidated results
  CHANGELOG_FINAL.md
Owners: @casskai-team

docs: create action plan for 100/100 score
  PLAN_100_SCORE.md
Owners: @casskai-team

feat(tools): complete ESLint cleanup toolkit
  PROGRESS_CHECKPOINT1.md
  package-lock.json
  package.json
  replace-console-log.ps1
  src/utils/devLogger.ts
Owners: @casskai-team, @casskai-devops-team, @casskai-frontend-team

docs: Session 3 final report - 100/100 preparation
  SESSION3_RAPPORT.md
Owners: @casskai-team

docs: final instructions for Claude Code - 100/100 sprint
  INSTRUCTIONS_CLAUDE_FINAL.md
Owners: @casskai-team

refactor(reports): extract ReportCard component from OptimizedReportsTab
  src/components/accounting/reports/ReportCard.tsx
  src/components/accounting/reports/ReportFilters.tsx
  src/components/accounting/reports/reportDefinitions.ts
  src/components/accounting/types.ts
  src/services/ReportExportService.ts
  src/services/accountingValidationService.ts
  src/services/purchasesService.ts
  src/services/unifiedThirdPartiesService.ts
  type-check-output.txt
  typescript-errors.txt
Owners: @casskai-frontend-team, @casskai-backend-team, @casskai-team

wip: sync parallel work - copilot + claude code
  src/components/accounting/reports/ReportCard.tsx
  src/components/ui/AnimatedChart.tsx
Owners: @casskai-frontend-team

docs: Session 4 final report - parallel work coordination
  SESSION4_RAPPORT_FINAL.md
Owners: @casskai-team

docs: rollback success report + project decision
  DECISION_CHEF_PROJET.md
  ROLLBACK_SUCCESS.md
  any-types-report.txt
  check-remaining-7.ps1
  count-final.ps1
  fix-2-any.ps1
  fix-catch-patterns.ps1
  fix-final-batch.ps1
  fix-last-7.ps1
  fix-map-any.ps1
  fix-remaining.ps1
  lint-errors.txt
  mega-batch-2-report.md
  temp-validation.json
  types-fixes-cleanup-report.md
Owners: @casskai-team, @casskai-devops-team

docs: Claude work recovery analysis
  CLAUDE_WORK_RECOVERY.md
Owners: @casskai-team

docs: complete phenomenal application roadmap
  PLAN_PHENOMENE.md
  src/components/accounting/fecImportHelpers.ts
  src/components/accounting/types.ts
Owners: @casskai-team, @casskai-frontend-team

refactor(reports): extract useReportsData custom hook
  src/hooks/useReportsData.ts
Owners: @casskai-frontend-team

docs: final mission report - 83/100 achieved! 🎉
  MISSION_ACCOMPLIE.md
Owners: @casskai-team

docs: create comprehensive professional README
  ARCHITECTURE.md
Owners: @casskai-team

fix(eslint): eliminate remaining console.log (36 total)
  src/components/settings/CompanySettings.tsx
  src/contexts/EnterpriseContext.tsx
  src/contexts/OnboardingContextNew.tsx
  src/i18n/config.ts
  src/modules/crm/crmModule.ts
  src/utils/cacheManager.ts
Owners: @casskai-frontend-team

fix(typescript): critical fixes for top 3 error files
  src/components/crm/OpportunityPipeline.tsx
  src/components/modules/ModulesManagementPage.tsx
  src/components/settings/ModuleManagementSettings.tsx
  src/hooks/useServiceWorker.tsx
  src/hooks/useSupabase.ts
  src/pages/SalesCrmPage.tsx
  src/services/einvoicing/api/routes.ts
  src/services/openBanking/providers/BridgeProvider.ts
Owners: @casskai-frontend-team, @casskai-backend-team

docs: comprehensive deployment and API documentation
  API_DOCUMENTATION.md
Owners: @casskai-team

docs: add final session report - 95% TS error reduction achieved 🎉
  RAPPORT_SESSION_COMPLETE.md
Owners: @casskai-team

docs: add quickstart guide and final session summary 📚
  fix-string-to-error.ps1
  fix-ts2352-conversions.ps1
Owners: @casskai-team

docs: add comprehensive recovery guide for next session 📖
  GUIDE_REPRISE.md
Owners: @casskai-team

fix(useReports): add type cast to fix TS2339 errors - 284 errors remaining
  fix-usereports-types.ps1
  src/hooks/useReports.ts
Owners: @casskai-team, @casskai-frontend-team

.github/CODEOWNERS:

# Global owners
* @casskai-team

# Frontend code
/src/** @casskai-frontend-team
/tests/** @casskai-frontend-team

# Configuration files
/*.json @casskai-devops-team
/*.js @casskai-devops-team
/*.ts @casskai-devops-team
/.*rc* @casskai-devops-team

# CI/CD and DevOps
/.github/** @casskai-devops-team
/Dockerfile* @casskai-devops-team
/docker-compose* @casskai-devops-team
/nginx.conf @casskai-devops-team

# Database and migrations
/supabase/** @casskai-backend-team
/src/services/** @casskai-backend-team

# Security sensitive files
/.env* @casskai-security-team
/scripts/check-env-secrets.js @casskai-security-team

# Documentation
/*.md @casskai-team
/docs/** @casskai-team
