Repository NouctheCo/Casskai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @casskai-team, @casskai-frontend-team, @casskai-devops-team, @casskai-backend-team, @casskai-security-team

docs: final session state - 284 TS errors (-91.2%) 🎉
  fix-usereports-errors.ps1
Owners: @casskai-team

docs: final comprehensive session report - 284 errors (-91.2%) achieved 🏆
  RAPPORT_FINAL_SESSION_COMPLETE.md
  fix-ts2352-ultrasafe.ps1
Owners: @casskai-team

fix: restore devLogger.ts for build
  src/utils/devLogger.ts
Owners: @casskai-frontend-team

fix(accounting): pass companyId to ChartOfAccountsEnhanced to load existing accounts
  src/pages/AccountingPage.tsx
Owners: @casskai-frontend-team

fix: Correct all failing unit tests (52→0 failures)
  src/services/__tests__/accountingService.test.ts
  src/services/__tests__/bankReconciliationService.test.ts
  src/services/__tests__/invoicingService.test.ts
  src/services/__tests__/stripe-integration.test.ts
  src/services/__tests__/subscriptionService.test.ts
  src/services/onboarding/__tests__/OnboardingProgressService.test.ts
  src/test/dashboard.test.jsx
  src/test/dashboard.test.tsx
Owners: @casskai-backend-team, @casskai-frontend-team

chore: Add test-results to .gitignore
  .gitignore
Owners: @casskai-team

docs: Ajout guides de déploiement complets pour le nouveau design system
  COMMANDES_DEPLOIEMENT.txt
  DEPLOIEMENT_RAPIDE.md
  GUIDE_DEPLOIEMENT_NOUVEAU_DESIGN.md
Owners: @casskai-team

docs: Ajout README de déploiement synthétique
  README_DEPLOIEMENT.md
Owners: @casskai-team

fix(accounting): Correction bugs critiques module comptabilité
  src/components/accounting/ChartOfAccountsEnhanced.tsx
  src/hooks/useJournalEntries.ts
  src/services/journalEntriesService.ts
Owners: @casskai-frontend-team, @casskai-backend-team

security(frontend): Chargement profil depuis public.users
  src/contexts/AuthContext.tsx
  src/services/userService.ts
Owners: @casskai-frontend-team, @casskai-backend-team

security(xss): Protection XSS avec sanitization DOMPurify
  package-lock.json
  package.json
  src/components/hr/DocumentDetailModal.tsx
  src/components/hr/GenerateDocumentModal.tsx
  src/components/hr/TemplatePreviewModal.tsx
  src/components/installation/InstallationGuide.tsx
  src/components/widgets/WidgetRenderer.tsx
  src/utils/sanitize.ts
Owners: @casskai-devops-team, @casskai-frontend-team

fix(rgpd): Export RGPD Article 20 complet avec données réelles
  src/services/rgpdService.ts
Owners: @casskai-backend-team

security(env): Sécurisation complète des fichiers .env
  .env.example
  .env.production-test
  .env.test
  .gitignore
Owners: @casskai-security-team, @casskai-team

legal(licenses): Audit complet des licences logicielles pour commercialisation
  LICENSE_AUDIT_REPORT.md
  LICENSE_AUDIT_SUMMARY.md
  THIRD_PARTY_LICENSES.csv
  THIRD_PARTY_NOTICES.md
  src/contexts/AuthContext.tsx
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/lib/company.ts
  src/pages/AccountingPage.tsx
  src/services/auditService.ts
  src/services/enterpriseDashboardService.ts
  src/services/enterpriseDashboardServiceFixed.ts
  src/services/gdprRequestsService.ts
  src/services/rgpdService.ts
  src/utils/sanitize.ts
Owners: @casskai-team, @casskai-frontend-team, @casskai-backend-team

fix(onboarding): Correction boucle onboarding et erreurs critiques
  APPLY_MIGRATIONS_MANUAL.md
  src/components/hr/DocumentArchiveTab.tsx
  src/components/hr/DocumentDetailModal.tsx
  src/components/hr/DocumentGenerationTab.tsx
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/pages/InventoryPage.tsx
  src/pages/OnboardingPage.tsx
  supabase/migrations/20251129000000_fix_users_rls_read.sql
  supabase/migrations/20251129000001_add_onboarding_completed_at.sql
Owners: @casskai-team, @casskai-frontend-team, @casskai-backend-team

fix(onboarding): Ajout colonne onboarding_completed_at à l'interface Company
  src/contexts/AuthContext.tsx
Owners: @casskai-frontend-team

i18n(audit): Traduction complète de la page Audit Logs (fr/en/es)
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/pages/AuditLogsPage.tsx
  src/pages/InvoicingPage.tsx
Owners: @casskai-frontend-team

i18n(tax+crm): Traduction complète pages Tax et CRM (fr/en/es)
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
Owners: @casskai-frontend-team

fix(crm): Suppression données mockées variations (+12%, +8%, etc.) CRM dashboard
  src/components/crm/CrmDashboard.tsx
Owners: @casskai-frontend-team

feat(multi-currency): Support 33 countries with automatic chart of accounts
  src/config/currencies.ts
  supabase/migrations/20251130000003_add_missing_chart_templates.sql
Owners: @casskai-frontend-team, @casskai-backend-team

fix(i18n): Suppression finale des duplicatas 'invoicing' dans fr.json
  src/i18n/locales/fr.json
Owners: @casskai-frontend-team

fix(i18n): Ajout traduction manquante sidebar.invoicing (fr/en/es)
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
Owners: @casskai-frontend-team

fix(sidebar): Ne plus afficher les badges avec valeur 0
  src/components/layout/Sidebar.tsx
Owners: @casskai-frontend-team

fix(banking): Correction règles catégorisation + service SEPA existant
  src/components/banking/TransactionCategorization.tsx
Owners: @casskai-frontend-team

feat(banking): Ajout onglets Comptes bancaires et Virements SEPA dans BanksPage
  src/pages/BanksPage.tsx
Owners: @casskai-frontend-team

feat(landing): Remplacement bloc ROI par bloc Avantages honnête
  src/pages/LandingPage.tsx
Owners: @casskai-frontend-team

refactor(users): Suppression initializeMockData() de UserManagementPage
  src/pages/UserManagementPage.tsx
Owners: @casskai-frontend-team

feat(projects): Correction module Projets - données réelles
  src/pages/ProjectsPage.tsx
Owners: @casskai-frontend-team

feat(pricing): Affichage multi-devises pour 33 pays
  src/pages/PricingPage.tsx
  src/services/pricingMultiCurrency.ts
Owners: @casskai-frontend-team, @casskai-backend-team

feat(onboarding): Support complet 33 pays pour détection plan comptable
  src/services/chartDetectionService.ts
Owners: @casskai-backend-team

fix(landing): Support complet 33 pays avec tarifs + amélioration visibilité dark mode
  src/components/ui/CountrySelector.tsx
  src/pages/LandingPage.tsx
Owners: @casskai-frontend-team

fix(routes): Ajout routes /security et /help + correction mode sombre
  apply-fix-reports-migration.cjs
  apply-onboarding-migration.cjs
  src/AppRouter.tsx
Owners: @casskai-team, @casskai-frontend-team

feat(ai): Ajout configuration OpenAI + nettoyage traductions taxes
  GUIDE_CONFIGURATION_OPENAI.md
  src/components/ai/AIAssistant.tsx
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/pages/TaxPage.tsx
  src/services/taxService.ts
Owners: @casskai-team, @casskai-frontend-team, @casskai-backend-team

feat(accounting): Automatisation comptable complète - Phase 1 déployée
  .claude/settings.local.json
  AUDIT_ARCHITECTURE_COMPTABLE.md
  GUIDE_AUTOMATISATION_COMPTABLE_COMPLETE.md
  apply-audit-migration.cjs
  check-audit-tables.cjs
  fix-tax-translations.cjs
  seed-audit-logs.cjs
  src/components/fiscal/AutoVATDeclarationButton.tsx
  src/components/fiscal/FECExportButton.tsx
  src/pages/TaxPage.tsx
  src/services/depreciationService.ts
  src/services/fecExportService.ts
  src/services/invoiceJournalEntryService.ts
  src/services/invoicingService.ts
  src/services/paymentAllocationService.ts
  src/services/payrollJournalEntryService.ts
  src/services/vatDeclarationService.ts
Owners: @casskai-team, @casskai-frontend-team, @casskai-backend-team

security: Nettoyage complet de l'historique Git et renforcement .gitignore
  .claude/settings.local.json
Owners: @casskai-team

feat(budget): Lier module Budget au Plan Comptable + Corrections bugs
  .claude/settings.local.json
  src/components/banking/SepaPaymentGenerator.tsx
  src/components/budget/AccountSelectDropdown.tsx
  src/components/budget/BudgetForm.tsx
  src/components/dashboard/WelcomeDashboard.tsx
  src/components/invoicing/ClientSelector.tsx
  src/components/invoicing/OptimizedInvoicesTab.tsx
  src/components/invoicing/OptimizedPaymentsTab.tsx
  src/components/ui/command.tsx
  src/pages/BanksPage.tsx
  src/services/budgetService.ts
  src/types/budget.types.ts
  src/types/supabase.ts
Owners: @casskai-team, @casskai-frontend-team, @casskai-backend-team

fix(crm,tax): Correction bugs critiques CRM et amélioration module Fiscalité
  src/components/crm/NewActionModal.tsx
  src/components/fiscal/TaxCompliancePanel.tsx
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/pages/SalesCrmPage.tsx
  src/pages/TaxPage.tsx
  src/services/fiscal/MultiCountryTaxService.ts
Owners: @casskai-frontend-team, @casskai-backend-team

fix(crm,assets,i18n): Corrections bugs production Dashboard, Assets et CRM
  .claude/settings.local.json
  src/components/assets/AssetFormDialog.tsx
  src/components/crm/NewActionModal.tsx
  src/components/crm/NewOpportunityModal.tsx
  src/i18n/locales/fr.json
Owners: @casskai-team, @casskai-frontend-team

fix(crm): Correction requêtes third_parties - utilisation is_active
  src/components/crm/NewActionModal.tsx
  src/components/crm/NewOpportunityModal.tsx
Owners: @casskai-frontend-team

fix(crm): Correction props undefined - ajout vérifications null/undefined
  src/components/crm/ClientsManagement.tsx
  src/components/crm/CommercialActions.tsx
  src/components/crm/OpportunitiesKanban.tsx
Owners: @casskai-frontend-team

.github/CODEOWNERS:

# Global owners
* @casskai-team

# Frontend code
/src/** @casskai-frontend-team
/tests/** @casskai-frontend-team

# Configuration files
/*.json @casskai-devops-team
/*.js @casskai-devops-team
/*.ts @casskai-devops-team
/.*rc* @casskai-devops-team

# CI/CD and DevOps
/.github/** @casskai-devops-team
/Dockerfile* @casskai-devops-team
/docker-compose* @casskai-devops-team
/nginx.conf @casskai-devops-team

# Database and migrations
/supabase/** @casskai-backend-team
/src/services/** @casskai-backend-team

# Security sensitive files
/.env* @casskai-security-team
/scripts/check-env-secrets.js @casskai-security-team

# Documentation
/*.md @casskai-team
/docs/** @casskai-team
