Repository NouctheCo/Casskai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @casskai-team, @casskai-frontend-team, @casskai-devops-team, @casskai-backend-team, @casskai-security-team

.github/CODEOWNERS:

# Global owners
* @casskai-team

# Frontend code
/src/** @casskai-frontend-team
/tests/** @casskai-frontend-team

# Configuration files
/*.json @casskai-devops-team
/*.js @casskai-devops-team
/*.ts @casskai-devops-team
/.*rc* @casskai-devops-team

# CI/CD and DevOps
/.github/** @casskai-devops-team
/Dockerfile* @casskai-devops-team
/docker-compose* @casskai-devops-team
/nginx.conf @casskai-devops-team

# Database and migrations
/supabase/** @casskai-backend-team
/src/services/** @casskai-backend-team

# Security sensitive files
/.env* @casskai-security-team
/scripts/check-env-secrets.js @casskai-security-team

# Documentation
/*.md @casskai-team
/docs/** @casskai-team

feat: Optimisation pipeline CI/CD - éviter doubles exécutions
  .github/workflows/ci.yml
  .github/workflows/deploy-hostinger.yml
Owners: @casskai-devops-team

feat: Optimisation pipeline CI/CD - éviter doubles exécutions
  .github/workflows/ci.yml
  .github/workflows/deploy-hostinger.yml
Owners: @casskai-devops-team

feat: Optimisation pipeline CI/CD - éviter doubles exécutions
  .github/workflows/ci.yml
  .github/workflows/deploy-hostinger.yml
Owners: @casskai-devops-team

fix: Supprimer .env.production hardcodé et cache-bust Service Worker
  .claude/settings.local.json
  .env.production
  .github/workflows/ci.yml
  .github/workflows/deploy-hostinger.yml
  SUPABASE_CONFIG.md
  public/sw.js
Owners: @casskai-team, @casskai-security-team, @casskai-devops-team

fix: Supprimer .env.production hardcodé et cache-bust Service Worker
  .claude/settings.local.json
  .env.production
  .github/workflows/ci.yml
  .github/workflows/deploy-hostinger.yml
  SUPABASE_CONFIG.md
  public/sw.js
Owners: @casskai-team, @casskai-security-team, @casskai-devops-team

fix: Supprimer .env.production hardcodé et cache-bust Service Worker
  .claude/settings.local.json
  .github/workflows/ci.yml
  .github/workflows/deploy-hostinger.yml
  SUPABASE_CONFIG.md
  public/sw.js
Owners: @casskai-team, @casskai-devops-team

fix: Corriger le flux d'onboarding - sauvegarde et redirection
  src/contexts/AuthContext.tsx
  src/pages/OnboardingPage.tsx
  src/pages/onboarding/CompleteStep.tsx
Owners: @casskai-frontend-team

fix: Corriger le flux d'onboarding - sauvegarde et redirection
  src/contexts/AuthContext.tsx
  src/pages/OnboardingPage.tsx
  src/pages/onboarding/CompleteStep.tsx
Owners: @casskai-frontend-team

fix: Corriger le flux d'onboarding - sauvegarde et redirection
  src/contexts/AuthContext.tsx
  src/pages/OnboardingPage.tsx
  src/pages/onboarding/CompleteStep.tsx
Owners: @casskai-frontend-team

fix: Supprimer la référence à accounting_standard dans l'onboarding
  src/contexts/AuthContext.tsx
Owners: @casskai-frontend-team

fix: Supprimer la référence à accounting_standard dans l'onboarding
  src/contexts/AuthContext.tsx
Owners: @casskai-frontend-team

fix: Supprimer la référence à accounting_standard dans l'onboarding
  src/contexts/AuthContext.tsx
Owners: @casskai-frontend-team

feat: Implémentation complète des plans comptables automatiques
  src/components/setup/AccountingStandardSelector.tsx
  src/contexts/AuthContext.tsx
  src/hooks/useCompanies.ts
  src/services/accountingService.ts
Owners: @casskai-frontend-team, @casskai-backend-team

feat: Implémentation complète des plans comptables automatiques
  src/components/setup/AccountingStandardSelector.tsx
  src/contexts/AuthContext.tsx
  src/hooks/useCompanies.ts
  src/services/accountingService.ts
Owners: @casskai-frontend-team, @casskai-backend-team

feat: Implémentation complète des plans comptables automatiques
  src/components/setup/AccountingStandardSelector.tsx
  src/contexts/AuthContext.tsx
  src/hooks/useCompanies.ts
  src/services/accountingService.ts
Owners: @casskai-frontend-team, @casskai-backend-team

fix: Correction mise à jour entreprise après création avec RPC
  src/contexts/AuthContext.tsx
  src/contexts/ModulesContext.jsx.d.ts
Owners: @casskai-frontend-team

fix: Correction mise à jour entreprise après création avec RPC
  src/contexts/AuthContext.tsx
  src/contexts/ModulesContext.jsx.d.ts
Owners: @casskai-frontend-team

fix: Correction mise à jour entreprise après création avec RPC
  src/contexts/AuthContext.tsx
  src/contexts/ModulesContext.jsx.d.ts
Owners: @casskai-frontend-team

fix: Résoudre erreur React #306 du dashboard post-onboarding
  src/contexts/AuthContext.tsx
  src/pages/DashboardPage.jsx
Owners: @casskai-frontend-team

fix: Résoudre erreur React #306 du dashboard post-onboarding
  src/contexts/AuthContext.tsx
  src/pages/DashboardPage.jsx
Owners: @casskai-frontend-team

fix: Résoudre erreur React #306 du dashboard post-onboarding
  src/contexts/AuthContext.tsx
  src/pages/DashboardPage.jsx
Owners: @casskai-frontend-team

fix: Corriger la navigation des onglets dans BillingPage
  src/contexts/AuthContext.tsx
  src/contexts/EnterpriseContext.tsx
  src/pages/BillingPage.tsx
  src/pages/DashboardPage.jsx
Owners: @casskai-frontend-team

fix: Corriger la navigation des onglets dans BillingPage
  src/contexts/AuthContext.tsx
  src/contexts/EnterpriseContext.tsx
  src/pages/BillingPage.tsx
  src/pages/DashboardPage.jsx
Owners: @casskai-frontend-team

fix: Corriger la navigation des onglets dans BillingPage
  src/contexts/AuthContext.tsx
  src/contexts/EnterpriseContext.tsx
  src/pages/BillingPage.tsx
  src/pages/DashboardPage.jsx
Owners: @casskai-frontend-team

chore(deploy): Hostinger SPA .htaccess + deploy scripts; fix ModulesContext & ModuleManager for modules activation without duplicates
  hostinger-deploy.ps1
  package.json
  public/.htaccess
  src/contexts/ModulesContext.tsx
  src/services/moduleManager.ts
Owners: @casskai-team, @casskai-devops-team, @casskai-frontend-team, @casskai-backend-team

chore(deploy): Hostinger SPA .htaccess + deploy scripts; fix ModulesContext & ModuleManager for modules activation without duplicates
  hostinger-deploy.ps1
  package.json
  public/.htaccess
  src/contexts/ModulesContext.tsx
  src/services/moduleManager.ts
Owners: @casskai-team, @casskai-devops-team, @casskai-frontend-team, @casskai-backend-team

chore(deploy): Hostinger SPA .htaccess + deploy scripts; fix ModulesContext & ModuleManager for modules activation without duplicates
  hostinger-deploy.ps1
  package.json
  public/.htaccess
  src/contexts/ModulesContext.tsx
  src/services/moduleManager.ts
Owners: @casskai-team, @casskai-devops-team, @casskai-frontend-team, @casskai-backend-team

feat(onboarding): prevent duplicate companies via idempotency + gate company name until onboarding complete; update local user metadata post-onboarding
  src/components/layout/Header.tsx
  src/contexts/AuthContext.tsx
Owners: @casskai-frontend-team

feat(onboarding): prevent duplicate companies via idempotency + gate company name until onboarding complete; update local user metadata post-onboarding
  src/components/layout/Header.tsx
  src/contexts/AuthContext.tsx
Owners: @casskai-frontend-team

feat(onboarding): prevent duplicate companies via idempotency + gate company name until onboarding complete; update local user metadata post-onboarding
  src/components/layout/Header.tsx
  src/contexts/AuthContext.tsx
Owners: @casskai-frontend-team

feat: restore automatic Hostinger deployment via GitHub Actions
  .github/workflows/ci.yml
Owners: @casskai-devops-team

feat: restore automatic Hostinger deployment via GitHub Actions
  .github/workflows/ci.yml
Owners: @casskai-devops-team

feat: restore automatic Hostinger deployment via GitHub Actions
  .github/workflows/ci.yml
Owners: @casskai-devops-team

fix: resolve TypeScript compilation errors for production deployment
  package-lock.json
  package.json
  src/App.tsx
  src/api/stripe/stripe-backend.ts
  src/config/app-routes.tsx
  src/utils/lazy/createLazyComponent.ts
  src/utils/lazy/intelligentPreloading.ts
  src/utils/lazy/lazyPages.ts
  src/utils/lazy/useChunkLoadingStats.ts
  src/utils/lazyComponents.ts
  src/utils/lazyComponentsHooks.ts
  src/utils/migrationChecker.ts
  src/utils/performance/lazyLoading.tsx
  src/vite-env.d.ts
Owners: @casskai-devops-team, @casskai-frontend-team

fix: resolve TypeScript compilation errors for production deployment
  package-lock.json
  package.json
  src/App.tsx
  src/api/stripe/stripe-backend.ts
  src/config/app-routes.tsx
  src/utils/lazy/createLazyComponent.ts
  src/utils/lazy/intelligentPreloading.ts
  src/utils/lazy/lazyPages.ts
  src/utils/lazy/useChunkLoadingStats.ts
  src/utils/lazyComponents.ts
  src/utils/lazyComponentsHooks.ts
  src/utils/migrationChecker.ts
  src/utils/performance/lazyLoading.tsx
  src/vite-env.d.ts
Owners: @casskai-devops-team, @casskai-frontend-team

fix: resolve TypeScript compilation errors for production deployment
  package-lock.json
  package.json
  src/App.tsx
  src/api/stripe/stripe-backend.ts
  src/config/app-routes.tsx
  src/utils/lazy/createLazyComponent.ts
  src/utils/lazy/intelligentPreloading.ts
  src/utils/lazy/lazyPages.ts
  src/utils/lazy/useChunkLoadingStats.ts
  src/utils/lazyComponents.ts
  src/utils/lazyComponentsHooks.ts
  src/utils/migrationChecker.ts
  src/utils/performance/lazyLoading.tsx
  src/vite-env.d.ts
Owners: @casskai-devops-team, @casskai-frontend-team

fix: additional corrections for accounting and contracts components
  src/components/accounting/AccountingImportExport.tsx
  src/components/contracts/ContractForm.tsx
  src/hooks/useAccountingImport.ts
Owners: @casskai-frontend-team

fix: additional corrections for accounting and contracts components
  src/components/accounting/AccountingImportExport.tsx
  src/components/contracts/ContractForm.tsx
  src/hooks/useAccountingImport.ts
Owners: @casskai-frontend-team

fix: additional corrections for accounting and contracts components
  src/components/accounting/AccountingImportExport.tsx
  src/components/contracts/ContractForm.tsx
  src/hooks/useAccountingImport.ts
Owners: @casskai-frontend-team

fix: enable skipLibCheck to resolve TypeScript library conflicts
  tsconfig.json
Owners: @casskai-devops-team
